<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
    <header class="header">
        <div>
            <h1>Logo</h1>
        </div>
    </header>
    <content>
<!--        <form action=""-->
        <div class="loginbox">
            <table class="login_section">
                <tr>
                    <th><h4>아이디</h4></th>
                    <td><input name="id" type="text"></td>
                </tr>
                <tr>
                    <th><h4>비밀번호</h4></th>
                    <td><input name="password" type="password"></td>
                </tr>
                <tr>
                    <td align="right" colspan="2"><input class="login_btn" type="submit" value="로그인"></td>
                </tr>
            </table>
        </div>
    </content>
</body>
</html>