<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/Mypage_profile.css">
</head>
<body>
    <div class="container">
        <h1>마이페이지</h1>
        <form>
            <div>
                <label for="name">이름:</label>
                <input type="text" id="name" th:value="${name}" readonly>
            </div>
            <div>
                <label for="username">아이디:</label>
                <input type="text" id="username" th:value="${username}" readonly>
            </div>
            <div>
                <label for="phone">전화번호:</label>
                <input type="text" id="phone" th:value="${phone}" readonly>
            </div>
            <div>
                <label for="email">이메일:</label>
                <div class="email-input">
                    <input type="text" id="emailFront" th:value="${emailFront}" readonly> @
                    <input type="text" id="emailBack" th:value="${emailBack}" readonly>
                </div>
            </div>
            <div>
                <button type="button">정보 수정</button>
            </div>
        </form>
    </div>
</body>
</html>
