* {
	margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #666;
}

header {
	position: fixed;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 170px;
    margin-left: 10%;
    height: 70px;
}

.header-content p {
    margin-right: 12%;
    display: flex;
    align-items: center;
}

.header-content p span {
	font-size: 20px;
    cursor: pointer;
}

.header-content p img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.header-content p .human-icon {
	width: 40px;
	height: 40px;
    margin-left: 10px;
}

.header-content p .cart-icon {
    margin-left: 10px;
}

.header-content p .lock-icon {
    margin-left: 20px;
}

.header-content p span:hover {
    text-decoration: underline;
}

.header-content p img:hover {
    transform: scale(1.5);
}

body {
    padding-top: 90px;
    min-height: 100vh;
}

main{
    flex: 1;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#title {
	width: 1300px;
	height: 75px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #000;
    font-size: 16px;
}

#title a {
	text-decoration: none;
	color: inherit;
}

#title a span {
	margin: 0 20px;
	cursor: pointer;
	transition: font-size 0.3s ease;
}

#title a span:hover {
	font-size: 24px;
	font-weight: bold;
}

#title a span.selected {
	font-weight: bold;
	font-size: 24px;
}

span {
	margin: 0 5px;
	color: #555;
}

.btn-modify{
    padding: 10px 30px;
    margin-left: 72%;
    background: #008ADA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    
}

.btn-modify:hover{
    background: #006bb3;
}
.order_status{
	display:flex;
	gap: 10px;
}
.order_status div{
	flex :1;
}
.order_status div h2 {
  text-align: center; 
}

.order_status div:first-child{
	margin-left:5px;
	border-right: 1px solid #ccc;
}
.order_status div:last-child{
	margin-left:10px;
}

.namezone{
	border: 1px solid;

}
.namezone h2{
	text-align:center;
}

.orderprice{
	display:flex;
	

}

.cancelsection{
	border-top:1px solid #ccc;
}

.grayzone{
	background-color:#EAEAEA;
}

.grayzone{
	background-color:#EAEAEA;
}

.grayzone{
	background-color:#EAEAEA;
}

.orderprice div{
	flex: 1;
}
.deliveryinform{
	display:flex;
	flex-direction: column;
}
.deliveryinform div{
	display:flex;
}

footer {
    background-color: #E8E8E8;
    font-size: 14px;
    color: #4f4f4f;
    height: 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-content img {
	width: 170px;
    margin-left: 10%;
    height: 90px;
}

.footer-text {
    text-align: right;
    margin-right: 10%;
}

.footer-text p, .footer-text span {
    margin: 5px 0;
}

/* 취소요청 모달*/
*{

    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height:600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #008ADA;
    color: white;
    padding: 20px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right:-20px;
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
}

.modal-body {
    padding: 20px;
    height:430px;
    margin-top:15px;
}

.openModal:hover{

    text-decoration-line: underline;
}

.table {
    width: 100%;
    height:400px;
    border-collapse: collapse;
    
    font-size:13px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    width:80px;

}

.tr-cancel-reason{
    text-align: center;
}

textarea{
    width:500px;
    height:300px;
    resize:none;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.tr-name{
    height:50px;
}


.modal-footer {
    text-align: right;
    margin-top: 5px;
    margin-right:14px;
}

.foot-message{
    font-size:13px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    
}

.btn-submit:hover{
    transition: 0.6s;
    background-color:#006bb3;
}

.btn-submit {
    background-color: #008ADA;
    color: white;
}

.btn-close:hover{
    transition: 0.6s;
    background-color: #7a7a7a;

}

.btn-close {
    background-color: #999;
    color: white;
}
/* ----------------------취소요청모달 종료-----------------------------*/