* {
	margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #666;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 150px;
    margin-left: 10%;
}

.header-content p {
    margin-right: 12%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-content p span {
	font-size: 20px;
    cursor: default;
    color:black;
}

.header-content p img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.header-content p .human-icon {
	width: 40px;
	height: 40px;
    margin-left: 10px;
}

.header-content p .cart-icon {
    margin-left: 10px;
}

.header-content p .lock-icon {
    margin-left: 20px;
}
.header-content p img:hover {
    transform: scale(1.5);
}

body {
    padding-top: 90px;
}

main{
    flex: 1;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#title {
	width: 1300px;
	height: 75px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #000;
    font-size: 16px;
}

#title a {
	text-decoration: none;
	color: inherit;
}

#title a span {
	margin: 0 20px;
	cursor: pointer;
	transition: font-size 0.3s ease;
}

#title a span:hover {
	font-size: 24px;
	font-weight: bold;
}

#title a span.selected {
	font-weight: bold;
	font-size: 24px;
}

#infochange-form {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    font-size: 20px;
}

#infochange-form h2 {
	margin-left: 30px;
	margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
	margin: 0 30px;
    margin-bottom: 15px;
}

.form-group p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

label {
    margin-bottom: 5px;
    display: block;
}

label span {
	color: red;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group span {
    margin: 0 10px;
}

.input-group select {
	margin-left: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-change-account:hover
.btn-change-pw:hover {
    background: #006bb3;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input[type="password"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
}

.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

textarea {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 10px;
}

.email-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[disabled] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.btn-change-account,
.btn-change-pw {
	margin-left: 70%;
    padding: 10px 40px;
    background: #008ADA;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete {
    margin-left: 70%;
    padding: 10px 40px;
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
	background: #8B0000;
}

footer {
    background-color: #E8E8E8;
    font-size: 14px;
    color: #4f4f4f;
    height: 120px;
}

footer {
    background-color: #E8E8E8;
    font-size: 14px;
    height: 120px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-content img {
    max-height: 50px;
    margin-left: 10%;
}

.footer-text {
    text-align: right;
    margin-right: 10%;
}

.footer-text p, .footer-text span {
    margin: 5px 0;
}

.footer-message{
    font-size:16px;
    text-align: center;
}

.footer-message> p{
    font-size:18px;
    font-weight:500;
}
