* {
	margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #666;
}

header {
	position: fixed;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 170px;
    margin-left: 10%;
    height: 70px;
}

.header-content p {
    margin-right: 12%;
    display: flex;
    align-items: center;
}

.header-content p span {
	font-size: 20px;
    cursor: pointer;
}

.header-content p img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.header-content p .human-icon {
	width: 40px;
	height: 40px;
    margin-left: 10px;
}

.header-content p .cart-icon {
    margin-left: 10px;
}

.header-content p .lock-icon {
    margin-left: 20px;
}

.header-content p span:hover {
    text-decoration: underline;
}

.header-content p img:hover {
    transform: scale(1.5);
}

#title {
	width: 1300px;
	height: 75px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #000;
    font-size: 16px;
}

#title a {
	text-decoration: none;
	color: inherit;
}

#title a span {
	margin: 0 20px;
	cursor: pointer;
	transition: font-size 0.3s ease;
}

#title a span:hover {
	font-size: 24px;
	font-weight: bold;
}

#title a span.selected {
	font-weight: bold;
	font-size: 24px;
}

body {
    padding-top: 90px;
    min-height: 100vh;
}

main{
    flex: 1;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.order_cancel {
    color: #666;
    text-align: center;
    margin: 10px 0;
}



span {
	margin: 0 5px;
	color: #555;
}

.btn-modify{
    padding: 10px 30px;
    margin-left: 72%;
    background: #008ADA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    
}

.btn-modify:hover{
    background: #006bb3;
}
.order_status{
	display:flex;
	gap: 10px;
}
.order_status div{
	flex :1;
}
.order_status div h2, h3 {
  text-align: center;
}

.order_status div:first-child{
	border-right: 1px solid #ccc;
}

.order_no, .order_date, .delivery_status{
	color: #666;
	text-align: center;
	margin: 10px 0;
}

.namezone{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align:center;
}

.namezone h2{
	margin: 25px 0;
}

.orderprice{
	display:flex;
	text-align: center;
}

.orderprice > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.orderprice_title, .orderprice_data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderprice_title{
	background-color:#EAEAEA;
	height: 60px;
	border-bottom: 1px solid black;
	font-size: 20px;
	font-weight: bold;
}

.delivery_price{
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.orderprice_data{
	margin: 30px 0;	
	font-size: 19px;
}

.deliveryinform{
	width: 100%;
	border-collapse: collapse;
}
.deliveryinform div{
	display:flex;
}

.deliveryinfo_title{
	background-color:#EAEAEA;
	width: 25%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle; 
}

.deliveryinfo_data{
	width: 75%;
	border-bottom: 1px solid black;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: middle;
}

.productinform {
    width: 100%;
    margin: auto;
}

.productorder_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.productorder_table th{
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.productorder_title{
	font-size: 20px;
	background-color: #EAEAEA;
}

.productorder_table th.same-delivery {
    text-align: center;
    vertical-align: middle;
    border-right: none;
    border-left: none;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.productorder_table tr:not(:first-child) th.same-delivery {
    border-bottom: none;
}

.previous{
	border-top: 1px solid black;
	text-align: center; 
}

.previous button {
    margin: 40px 0;
    background-color: #008ADA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s;
}

.previous button:hover {
    background-color: #006bb3;
}

footer {
    background-color: #E8E8E8;
    font-size: 14px;
    color: #4f4f4f;
    height: 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-content img {
	width: 170px;
    margin-left: 10%;
    height: 90px;
}

.footer-text {
    text-align: right;
    margin-right: 10%;
}

.footer-text p, .footer-text span {
    margin: 5px 0;
}