* {
	margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #666;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 150px;
    margin-left: 10%;
}

.header-content p {
    margin-right: 12%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header-content p span {
	font-size: 20px;
    cursor: default;
    color:black;
}

.header-content p img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.header-content p .human-icon {
	width: 40px;
	height: 40px;
    margin-left: 10px;
}

.header-content p .cart-icon {
    margin-left: 10px;
}

.header-content p .lock-icon {
    margin-left: 20px;
}

.header-content p img:hover {
    transform: scale(1.5);
}

body {
    padding-top: 90px;
    min-height: 100vh;
}

main{
    flex: 1;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#title {
	width: 1300px;
	height: 75px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #000;
    font-size: 16px;
}

#title a {
	text-decoration: none;
	color: inherit;
}

#title a span {
	margin: 0 20px;
	cursor: pointer;
	transition: font-size 0.3s ease;
}

#title a span:hover {
	font-size: 24px;
	font-weight: bold;
}

#title a span.selected {
	font-weight: bold;
	font-size: 24px;
}

span {
	margin: 0 5px;
	color: #555;
}

.btn-modify{
    padding: 10px 30px;
    margin-left: 72%;
    background: #008ADA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    
}

.btn-modify:hover{
    background: #006bb3;
}

.order_status{
	display:flex;
	gap: 10px;
	padding: 10px 0;
}

.order_status div{
	flex: 1;
}
.order_status div h2 {
  text-align: center; 
}

.order_status div h2:nth-of-type(2) {
  color: #008ADA;
  padding-top: 5px;
}

.order_status div:first-child{
	margin-left:5px;
	border-right: 1px solid #ccc;
}
.order_status div:last-child{
	margin-left:10px;
}

.customer-order-data div{
	border:1px solid;
}

.imagedate{
	flex:1.5;	
}
.productlink{
	flex:3;
}
.productlink p{
	cursor:pointer;
	text-decoration : underline
}


.imagedate .inform {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.inform{
	background-color: #EAEAEA;
	font-size: 18px;
	padding: 5px 0;
}

.imagedate .image{
	display: flex; 
    justify-content: center; 
    align-items: center; 
}

.imagedate .image img {
    max-width: 100%;
    height: auto;
    width: 120px;
}

.productlink{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.productlink p {
    font-size: 18px;
    font-weight: bold;
}

.pricestatus{
	display:flex;
	flex-direction: column;
	flex:1;
}

.pricestatus>div{
	display:flex;
	flex:1;
   	justify-content: center; 
    align-items: center; 
    text-align: center;
    border: 1px solid #ccc; 
	
}

.pricestatus>div>p{
	text-align: center;
	font-size: 18px;
}

.search{
	display: flex;
	align-items: center;
	gap: 10px;
	border:none;
	border-top:1px solid #ccc;
	border-bottom:1px solid#ccc;
	height: 42px;
	padding: 10px 0;
}

.searchbox{
	padding-left: 30px;
	margin-right:4.7%;
}

.searchbutton{
	margin: 10px 5px;
	background-color:#008ADA;
	color:#FFFFFF;
	border-radius:3px;
	border:none;
	border-radius: 5px;
    padding: 6px 16px;
	cursor:pointer;
	display: inline-block;
	font-size: 14px;
	transition: background-color 0.3s
}

.searchbutton:hover {
    background-color: #006bb3;
}

.confirm_button{
	margin: 10px 5px;
	background-color:#008ADA;
	color:#FFFFFF;
	border-radius:3px;
	border:none;
	border-radius: 5px;
    padding: 6px 12px;
	cursor:pointer;
	display: inline-block;
	font-size: 14px;
	transition: background-color 0.3s
}

.confirm_button:hover {
    background-color: #006bb3;
}

.customer-order-data {
	display:flex;
	width:100%;
}

.info-section {
	margin-left:50px;
	margin-top:30px;
	padding-bottom:25px;
}
footer {
    background-color: #E8E8E8;
    font-size: 14px;
    height: 120px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-content img {
    max-height: 50px;
    margin-left: 10%;
}

.footer-text {
    text-align: right;
    margin-right: 10%;
}

.footer-text p, .footer-text span {
    margin: 5px 0;
}

.footer-message{
    font-size:16px;
    text-align: center;
}

.footer-message> p{
    font-size:18px;
    font-weight:500;
}