@charset "UTF-8";

body{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  text-align:center;
	
}
.intro{
  display: flex;
  align-items: flex-end; 
  position:relative;
  margin-bottom: 20px; 
}

.intro h2{
  margin: 0; 
  bottom: 0; 
}

.search-box::placeholder {
    color: #999;
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #008ADA;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
    width: 1000px;
    margin: 20px 0;
}

.search-box {
    flex: 1;
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    color: #333;
}

.search-button {
    background-image: url('/img/search-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #fff;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

.buttonicon {
	width:80px;
	height:80px;
}

.buttondiv {
	cursor : pointer;
	margin-right:30px;
}

.buttondiv p{
	font-weight:bold;
}

#not_member{
	display: flex;
	align-items:center;
	
}
#member{
	display: none;
	align-items:center;
	
}


