header {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    position:fixed;
    padding: 10px 20px;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 10%;
    height: 70px;
    cursor: pointer;
}

.header-content p {
    margin-right: 12%;
    display: flex;
    align-items: center;
}

.header-content p span {
	font-size: 20px;
}

.lock-icon{
    width: 22px;
    height: 22px;
    margin-left: 5px;
    margin-top:5px;
    transition: transform 0.3s ease;
}

.human-icon{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top:5px;
    transition: transform 0.3s ease;
}

.header-content p img:hover {
    transform: scale(1.5);
}

.header-user p {
    margin-left: 15px;
    display: inline-block; /* 이 속성을 추가하여 p 태그를 수평으로 정렬 */
    white-space: nowrap;
}

.header-user a{
    display: inline-block;
    white-space: nowrap;
    margin-left:220px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; 

}

main{
  flex: 1;
  padding-bottom:100px;
  align-items: center;
  width:1710px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #ccc ;
  margin-top:160px;

}


#choosecontent {
  display: flex;
  padding: 0;  
  margin: 0;
  height: 10%;
  margin-left:4.7%;

}

#choosecontent button{
	background: white;
	height:100%;
	width:10%;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
	
}

#choosecontent button:hover{
  background-color: #ccc;
  transition: 0.6s;
}

#choosecontent button.active{
  background-color: #ccc;

}

#choosecontent button{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#choosecontent .menuselect {
  font-weight: bold;
}


.search{
  display: flex;
  align-items: center;
  gap: 10px;
  border:none;
  border-top:1px solid #ccc;
  border-bottom:1px solid#ccc;

  height: 7%;

}

.datesearch{
	margin-left:4.7%;
	height:50%;
	padding: 5px;

}

.datesearch input{
	width:150px;
}


.searchbox{
	margin-left: auto;
	margin-right:4.7%;
	padding:5px;
	margin-right:4.7%;
}

.searchbox input{
	
	width:400px;
	
}

.searchbutton{
	background-color:#008ADA;
	color:#FFFFFF;
	border-radius:3px;
	border:none;
	height:25px;
	cursor:pointer;
}



.product_table{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width: 93%;
    border-collapse: collapse; 
	
}

.product_table th {
  background-color: #EAEAEA;
  font-weight: bold;
  border: 1px solid ;
}

.product_table td {
  background-color: #FFFFFF;
  font-weight: bold;
  border: 1px solid ;
  text-align:center;
}

.stockprice,
.stockamount {
	text-align : right;
}

input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.info-button{
	background-color:#008ADA;
	color:#FFFFFF;
	border-radius:5px;
	border:none;
	height:30px;
	cursor:pointer;
}

.btn-update,
.btn-save,
.btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px; /* 아이콘 크기 */
    color: #555; /* 기본 색상 */
    padding: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.btn-update:hover,
.btn-save:hover,
.btn-delete:hover {
    transform: scale(1.3); /* 호버 시 아이콘 크기 확장 */
}

footer {
    background-color: #E8E8E8;
    font-size: 12px;
    height: 120px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-content img {
  width: 150px;
  margin-left: 10%;
  height: 70px;

}

.footer-text {
    text-align: right;
    margin-right: 10%;
}

.footer-text p, .footer-text span {
    margin: 5px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#openModalBtn{
	height: 30px;
    background-color: #008ADA;
    color:#fff;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height:600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #008ADA;
    color: white;
    padding: 20px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right:-20px;
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
}

.modal-body {
    padding: 20px;
    height:430px;
    margin-top:15px;
}

.modal-footer {
    text-align: right;
    margin-top: 33px;
}

.modal_table {
    width: 100%;
    height:450px;
    border-collapse: collapse;
    font-size:13px;
}

.modal_table th, .modal_table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.modal_table th {
    background-color: #f2f2f2;
    text-align: center;
}

.modal_table td{

    padding-left: 20px;
}

select::-ms-expand { 
	display: none;
}

select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 30px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
}

select option{
    background: #f2f2f2;
    color: #666;
    padding: 3px 0;
}

select:hover{
    transition: 0.6s;
    background-color: #e5e5e5;
}

.quantity .price{
    width: 100px;
    height: 40px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;

}

.modal_input {
    width:100px;
	height: 20px;
}

.detail{
    resize:none;
    width:420px;
    height:150px;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
}

.detail:hover{
    transition: 0.6s;
    background-color: #e5e5e5;
}

.btn {
    padding: 0px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
}

.btn-register:hover{
    transition: 0.6s;
    background-color:#006bb3;
}

.btn-register {
	height: 30px;
    background-color: #008ADA;
    color: white;
}

.btn-reject:hover{
    transition: 0.6s;
    background-color: #d43c32 ;
}

.btn-reject {
    background-color: #f44c41;
    color: white;
    
}

.btn-close:hover{
    transition: 0.6s;
    background-color: #7a7a7a;

}

.btn-close {
	height: 30px;
    background-color: #999;
    color: white;
}


/* 구매자 정보 css */
.infomodal-table {
            width: 100%;
            height:450px;
            border-collapse: collapse;
            text-align: center;
            font-size:13px;
        }

.infomodal-table th, .infomodal-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

.infomodal-table th {
            background-color: #f2f2f2;
            text-align: center;
        }
