<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SELFTOP</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/paySuccess.css">
<script>
	document.addEventListener('DOMContentLoaded', function() {
		//로고 누르면 메인페이지
		document.getElementById('logo').addEventListener('click', function() {
		    window.location.href = '/main';
		});
	});
	</script>
</head>
<body>

    <main>
    	<p>404 Not Found!</p>
		<p>페이지가 존재하지 않습니다.</p>
    	<button class="btn-main" onclick="window.location.href='/main'">메인으로</button>
    </main>

    <footer>
    	<div class="footer-content">
        	<img src="/img/logo-footer.png" alt="로고">
        	<div class="footer-text">
            	<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
            	<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
        	  	<p>문의: 02-1234-5678</p>
           	 	<p>메일: SelfTop@selftop.com</p>
       	 	</div>
   		</div>
	</footer>

</body>
</html>