<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/img/logo.png">
    </div>
</header>
    <main>
        <form action="loginchk" method="post">
            <div class="loginbox">
                <table class="login_section">
                    <tr>
                        <th align="left"><h4>아이디</h4></th>
                    </tr>
                    <tr>
                        <td><input name="id" type="text" placeholder="아이디를 입력해주세요" size="50" style="height:30px"></td>
                    </tr>
                    <tr>
                        <th align="left"><h4>비밀번호</h4></th>
                    </tr>
                    <tr>
                        <td><input name="password" type="password" placeholder="비밀번호를 입력해주세요" size="50" style="height:30px"></td>
                    </tr>
                    <tr>
                        <td align="right" colspan="2"><input class="login_btn" type="submit" value="로그인"></td>
                    </tr>
                </table>
            </div>
        </form>
    </main>
</body>
</html>