<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SELFTOP</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/customercart.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/customercart.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const params = new URLSearchParams(window.location.search);
		const message = params.get("message");
		if (message) {
			alert(message);
		}
		//로고 누르면 메인페이지
		document.getElementById('logo').addEventListener('click', function() {
		    window.location.href = '/main';
		});
	});

</script>
</head>
<body>
	<header>
		<div class="header-content">
            <img src="/img/logo.png" id="logo" style="cursor: pointer;">
			<p>
				<span th:text="${membername} + 님"></span>&nbsp| <a href="mypage">
					<img src="/img/human-icon.png" class="human-icon">
				</a> <a href="cartpage"> <img src="/img/cart-icon.png" class="cart-icon">
				</a> <a href="logout"> <img src="/img/lock-icon.png"
					class="lock-icon">
				</a>
			</p>
		</div>
	</header>
	<main>
	
	<!-- 모달 -->
	<div id="compare-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">견적 비교</div>
            <p>장바구니에 담은 견적을 동시에 비교해보세요. 🛒</p>
            <h5 >견적은 최소 2개이상, 3개까지 비교할 수 있습니다.</h5>
            <div class="check">
                <input type="checkbox" id="quote1" value="0">
                <label for="quote1">견적 1</label>
            </div>
            <button class="btn" id="compare-button">비교하기</button>
            <hr>
            <div id="table-container"></div>
            <div class="modal-footer">
                <button id="close-modal" class="btn btn-close">닫기</button>
            </div>
        </div>
    </div>
    <!-- 메인 내역 -->
	 	<div class="main-header">
			<p> 내가 담은 견적리스트를 확인해보세요! </p>

		</div>
		
		<hr>
		<div class="cartinfosection">
			<div  id ="quotelist" class="selectcartlist">
				<div class="carttable">
				<table>
					<tr>
						<th>선택</th>
						<th>날짜</th>
						<th>견적이름</th>
						<th>수량</th>
						<th>가격</th>
					</tr>

					<tbody id="cart_view">
						<tr th:each="dto : ${quote}">
							<td ><input type="checkbox" name="selectquote_no" th:value="${dto.quote_no}" /></td>
							<td th:text="${#dates.format(dto.quote_date, 'YY/MM/dd')}"></td>
							<td th:text=${dto.quote_name} th:data-quote-no="${dto.quote_no} "
								th:onclick="'loadquotedetail(' + ${dto.quote_no} +')'"
								class="quotename"></td>
							<td>
								<div class="quantity-control">
									<button type="button" class="quantity-decrease">−</button>
									<input type="number" class="quantity-input"
										th:value="${dto.quote_amount}"
										th:data-price = "${dto.price}" min="0" />
									<button type="button" class="quantity-increase">+</button>
								</div>
							</td>
							<td class ="quoteprice" th:data-price="${dto.price * dto.quote_amount} " ></td>
						</tr>
					</tbody>

				</table>
				</div>
				<div class="bottombutton">
					<button  id ="showcomparison" class="cartbutton">견적 비교</button>
					<button  id = "deletebutton" class="cartbutton" >견적 삭제</button>

				</div>
			</div>

			<div id="detailview" class="viewcartproduct">
				<div class="namesection">
					<h2>견적별 부품 현황</h2>
				</div>
				<div th:fragment="#detailvew" th:each="detail : ${quotedetail}"
					class="orderproduct">
					<div class="category">
						<p th:text="${detail.category}"></p>
					</div>
					<div class="thumbnail">
						<img th:if="${detail.thumbnail != '-'}" th:src="${detail.thumbnail}"></img>
						<div th:if="${detail.thumbnail == '-'}" class="no-thumbnail"></div>
					</div>
					<div class="productname">
						<p th:text="${detail.product_name}"></p>
					</div>
					<div class="priceamount">
						<div>
							<p th:if ="${detail.price != 0}" th:text="${detail.price} + 원"></p>
							<div th:if="${detail.amount != 0}" class="quantity-control">
								<button type="button" class="quantity-decrease">−</button>
								<input type="number" class="amount-input"
									th:value="${detail.amount}"
									 min="0" />
								<button type="button" class="quantity-increase">+</button>
							</div>
						</div>
					</div>

				</div>
				<div id="assemblecheck" >
					<div class="category">
						<p >조립 신청</p>
					</div>
					<div class="thumbnail">
						<img src="" style="display:none"></img>
					</div>
					<div class="productname">
						
					</div>
					<div class="priceamount">
					</div>


				</div>
				<div class="detailbottombutton">
					<button class="detailbutton" onclick="goPay()">결제</button>
					<button id = "openModalBtn" class="detailbutton">호환성 체크</button>
					<button id ="changeamount" class="detailbutton">변경적용</button>
				</div>
			</div>
		</div>
		
		
		<!-----호환성체크 모달창----->
    <div id="modal" class="compatibilitymodal">
        <div class="compatibilitymodal-content">
            <div class="compatibilitymodal-header">PC견적 호환성 체크</div>
            <div class="compatibilitymodal-body">
                <div class="body-top">
					<p>• 호환성 체크는 <span style="font-weight:bold;">CPU, 메인보드, 메모리, 케이스, 그래픽카드, 파워</span>를 대상으로 합니다.</p>
					<p>• 본 서비스는 제조사의 상품정보를 기반으로 제공되며, 일부 상품은 호환성 체크 대상에서 제외됩니다.</p>
					<p>• <span style="font-weight: bold; color:red;">호환 성공 여부는 단순 참고용</span>이며, 자세한 내용은 판매점 또는 제조사에 재확인이 필요할 수 있습니다.</p>
					<p>• 카테고리별로 상품을 1개씩 담을 때만 호환성 체크가 가능합니다.</p>
					<p>• 출시일이 오래된 상품 또는 특수 상품의 경우 호환성 체크 대상에서 제외될 수 있습니다.</p>
                    <p>• CPU(소켓), 메인보드(CPU소켓), RAM(제품분류), 케이스(크기), 메인보드(폼펙터), 파워(제품분류), 그래픽카드(가로길이) 체크</p>
				</div>
				<hr>
                <div class="body-mid">
					<div class="container">
						<div class="first-section">
							<div class="pair">
								<div class="compatibilitymodal-component" id="cpu">
									<p>CPU</p>
									<div class="icon"><img class="compatibilitymodal-icon" src="/img/icon-cpu.png"></div>
								</div>
								<svg width="120" height="50" xmlns="http://www.w3.org/2000/svg">
									<line x1="10" y1="25" x2="110" y2="25" stroke="black" stroke-width="2" />
									<polygon points="10,25 20,20 20,30" fill="black" />
								</svg>
								<div class="connector">
									<div class="background-circle">
										<div class="compatibility" id="cpu-mainboard-compatibility"></div>
									</div>
								</div>
							</div>
							<div class="pair" id="GPU-pair">
								<div class="connector">
									<div class="background-circle">
										<div class="compatibility" id="graphicCard-case-compatibility"></div>
									</div>
								</div>
								<svg width="120" height="50" xmlns="http://www.w3.org/2000/svg">
									<line x1="10" y1="25" x2="110" y2="25" stroke="black" stroke-width="2" />
									<polygon points="110,25 100,20 100,30" fill="black" />
								</svg>
								<div class="compatibilitymodal-component" id="gpu">
									<p>그래픽카드</p>
									<div class="icon"><img class="compatibilitymodal-icon" src="/img/icon-gpu.png"></div>
								</div>
							</div>
						</div>
						<svg width="47" height="80" xmlns="http://www.w3.org/2000/svg" class="uparrow-1">
							<line x1="25" y1="90" x2="25" y2="10" stroke="black" stroke-width="2" />
    						<polygon points="25,10 20,20 30,20" fill="black" />
						</svg>
						<svg width="47" height="88" xmlns="http://www.w3.org/2000/svg" class="downarrow-1">
							<line x1="25" y1="10" x2="25" y2="80" stroke="black" stroke-width="2" />
    						<polygon points="25,90 20,80 30,80" fill="black" />
						</svg>
						<svg width="47" height="88" xmlns="http://www.w3.org/2000/svg" class="downarrow-2">
							<line x1="25" y1="10" x2="25" y2="80" stroke="black" stroke-width="2" />
    						<polygon points="25,90 20,80 30,80" fill="black" />
						</svg>
						<div class="second-section">
							<div class="pair">
								<div class="connector">
									<div class="background-circle">
										<div class="compatibility" id="cpu-ram-compatibility"></div>
									</div>
								</div>
								<div class="compatibilitymodal-component" id="mainboard">
									<p>메인보드</p>
									<div class="icon"><img class="compatibilitymodal-icon" src="/img/icon-mainboard.png"></div>
								</div>
								<p class="arrows">⟵</p>
								<div class="connector" id="mainboard-case">
									<div class="background-circle">
										<div class="compatibility" id="mainboard-case-compatibility"></div>
									</div>
								</div>
								<p class="arrows">⟶</p>
								<div class="compatibilitymodal-component" id="case">
									<p>케이스</p>
									<div class="icon"><img class="compatibilitymodal-icon" src="/img/icon-case.png"></div>
								</div>
							</div>
						</div>
						<svg width="47" height="88" xmlns="http://www.w3.org/2000/svg" class="downarrow-3">
							<line x1="25" y1="10" x2="25" y2="80" stroke="black" stroke-width="2" />
    						<polygon points="25,90 20,80 30,80" fill="black" />
						</svg>
						<svg width="47" height="80" xmlns="http://www.w3.org/2000/svg" class="uparrow-2">
							<line x1="25" y1="90" x2="25" y2="10" stroke="black" stroke-width="2" />
    						<polygon points="25,10 20,20 30,20" fill="black" />
						</svg>
						<svg width="47" height="80" xmlns="http://www.w3.org/2000/svg" class="uparrow-3">
							<line x1="25" y1="90" x2="25" y2="10" stroke="black" stroke-width="2" />
    						<polygon points="25,10 20,20 30,20" fill="black" />
						</svg>
						<div class="third-section">
							<div class="pair">
								<div class="compatibilitymodal-component" id="ram">
									<p>RAM</p>
									<div class="icon"><img class="compatibilitymodal-icon" src="/img/icon-ram.png"></div>
								</div>
								<svg width="120" height="50" xmlns="http://www.w3.org/2000/svg">
									<line x1="10" y1="25" x2="110" y2="25" stroke="black" stroke-width="2" />
									<polygon points="10,25 20,20 20,30" fill="black" />
								</svg>
								<div class="connector">
									<div class="background-circle">
										<div class="compatibility" id="ram-mainboard-compatibility"></div>
									</div>
								</div>
							</div>
							<div class="pair" id="power-pair">
								<div class="connector">
									<div class="background-circle">
										<div class="compatibility" id="power-case-compatibility"></div>
									</div>
								</div>
								<svg width="120" height="50" xmlns="http://www.w3.org/2000/svg">
									<line x1="10" y1="25" x2="110" y2="25" stroke="black" stroke-width="2" />
									<polygon points="110,25 100,20 100,30" fill="black" />
								</svg>
								<div class="compatibilitymodal-component" id="power">
									<p>파워</p>
									<div class="icon"><img class="compatibilitymodal-icon" src="/img/icon-power.png"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
                <div class="body-bottom">
					<p>• CPU &nbsp;&nbsp;   ⬌ &nbsp; RAM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:비교할 부품이 없습니다.
						<span class="CPUtoRAM">
						
						</span>
					</p>
					<p>• CPU &nbsp;&nbsp;   ⬌ &nbsp;메인보드 &nbsp;&nbsp;&nbsp;&nbsp;:비교할 부품이 없습니다.
						<span class="CPUtoMainboard">
						
						</span>
					</p>
					<p>• 메모리  ⬌  &nbsp;메인보드 &nbsp;&nbsp;&nbsp;&nbsp;:비교할 부품이 없습니다.
						<span class="MemorytoMainboard">
							
						</span>
					</p>
					<p>• 케이스  ⬌  &nbsp;메인보드 &nbsp;&nbsp;&nbsp;&nbsp;:비교할 부품이 없습니다.
						<span class="CasetoMainboard">
							
						</span>
					</p>
					<p>• 케이스  ⬌  &nbsp;그래픽카드&nbsp;:비교할 부품이 없습니다.
						<span class="CasetoGPU">
							
						</span>
					</p>
					<p>• 케이스  ⬌  &nbsp;파워 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:비교할 부품이 없습니다.
						<span class="CasetoPower">
							
						</span>
					</p>
					<p>• 파워  &nbsp;&nbsp; ⬌  &nbsp;소비전력 &nbsp;&nbsp;&nbsp;&nbsp;:
						<span class="PowertoConsumption">

						</span>
					</p>
					<p>(현재 소비전력은 <span class="power-consumption" style="color:red;">450</span>W이며, 선택된 파워는 <span class="power-current" style="color:red;">450</span> 권장파워는 <span class="power-recommended" style="color:blue;">550W</span> 이상입니다.)</p>
                </div>

            </div>
                
                    
            <div class="compatibilitymodal-footer">
                <div class="btn-area">
                    <button id="closeModalBtn" class="compatibilitybtn-close">닫기</button>
                </div>
            </div>
    </div>
    </div>
	<!----------------------->
	
	</main>

	<footer>
		<div class="footer-content">
			<img src="/img/logo-footer.png" alt="로고">
			<div class="footer-text">
				<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
				<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
				<p>문의: 02-1234-5678</p>
				<p>메일: SelfTop@selftop.com</p>
			</div>
		</div>
	</footer>

</body>
</html>