<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELFTOP</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/customerPay.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <script>
        // 전화번호 숫자로만 입력
        function validatePhoneInput(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        // 주소검색 팝업창
        function goPopup() {
            const popupUrl = '/seller/addressPopup';
            window.open(popupUrl, 'pop', "width=570,height=420, scrollbars=yes, resizable=yes");
        }

        function jusoCallBack(zipNo, roadAddrPart1, addrDetail) {
            document.getElementById("zipNo").value = zipNo;
            document.getElementById("address1").value = roadAddrPart1;
            document.getElementById("address2").value = addrDetail;
        }

        let currentOrder = {};
     	// 페이지가 로드되면 실행되는 함수
        document.addEventListener("DOMContentLoaded", function() {
            // localStorage에서 저장된 'selectedProduct' 가져오기
            const productInfo = JSON.parse(localStorage.getItem('selectedProduct'));
            currentOrder['product_code'] = productInfo.product_code;
            currentOrder['seller_no'] = productInfo.seller_no;

            if (productInfo) {
                // 가져온 데이터가 존재할 경우, 각 요소에 값 삽입
                const productImage = document.querySelector('.product-image');
                const productCategory = document.querySelector('.product-type');
                const productName = document.querySelector('.product-name');
                const productPrice = document.querySelector('.product-price');
                const productAmount = document.querySelector('.quantity-input');
                const productOrderPrice = document.querySelector('.order-price');
                const productTotalPrice = document.querySelector('.total-price');

                if (productImage && productCategory && productName && productPrice && productAmount && productOrderPrice && productTotalPrice) {
                    productImage.src = productInfo.thumbnail; // 상품 이미지
                    productCategory.textContent = productInfo.category; // 상품 분류
                    productName.textContent = productInfo.name; // 상품 이름
                    productPrice.textContent = productInfo.price.toLocaleString() + '원'; // 상품 가격
                    productOrderPrice.textContent = productInfo.price.toLocaleString() + '원'; // 상품 가격
                    productTotalPrice.textContent = productInfo.price.toLocaleString() + '원';
                    productAmount.textContent = productInfo.quantity; // 상품 수량 1로 고정
                 	// 선택상품 총금액과 최종 결제금액 업데이트
                    updatePayment(productInfo.price, productInfo.quantity);
                }
            }
            
          //로고 누르면 메인페이지
    		document.getElementById('logo').addEventListener('click', function() {
    		    window.location.href = '/main';
    		});
        });

        document.addEventListener("DOMContentLoaded", function() {
            // localStorage에서 저장된 주문 데이터 가져오기
            const orderData = JSON.parse(localStorage.getItem('CartDetails'));
            console.log(orderData);

            if (orderData && orderData.length > 0) {
                // 테이블의 tbody를 가져옵니다.
                const tbody = document.querySelector('#order-table tbody');

                // 기존 테이블 내용 초기화
                tbody.innerHTML = '';

                // 주문 데이터로 테이블 업데이트
                orderData.forEach(item => {
                    const row = document.createElement('tr');

                    // 상품 이름
                    const productNameCell = document.createElement('td');
                    productNameCell.innerHTML = `
                        <div class="product-container">
                            <img class="product-image" src="${item.image}" alt="${item.name}">
                            <div class="product-details">
                                <p class="product-type">${item.category}</p>
                                <p class="product-name">${item.name}</p>
                            </div>
                        </div>
                    `;

                    // 상품 가격
                    const productPriceCell = document.createElement('td');
                    productPriceCell.classList.add('product-price');
                    productPriceCell.innerText = `${item.price.toLocaleString()}원`;

                    // 수량
                    const quantityCell = document.createElement('td');
                    quantityCell.classList.add('quantity');
                    quantityCell.innerHTML = `
                        <p class="quantity-input">${item.quantity}</p>
                    `;

                    // 주문 금액 (상품 가격 * 수량)
                    const orderPriceCell = document.createElement('td');
                    orderPriceCell.classList.add('order-price');
                    const totalPrice = item.price * item.quantity;
                    orderPriceCell.innerText = `${totalPrice.toLocaleString()}원`;

                    // 배송 금액 (임의로 설정)
                    const shippingFeeCell = document.createElement('td');
                    shippingFeeCell.classList.add('shipping-fee');
                    shippingFeeCell.innerText = '5,000원\n(조립미신청)';

                    // 테이블 행에 추가
                    row.appendChild(productNameCell);
                    row.appendChild(productPriceCell);
                    row.appendChild(quantityCell);
                    row.appendChild(orderPriceCell);
                    row.appendChild(shippingFeeCell);

                    // tbody에 행 추가
                    tbody.appendChild(row);
                });
            } else {
                // 주문 데이터가 없을 경우 메시지 표시
                const tbody = document.querySelector('#order-table tbody');
                const row = document.createElement('tr');
                const cell = document.createElement('td');
                cell.colSpan = 5;
                cell.innerText = "장바구니에 담긴 상품이 없습니다.";
                row.appendChild(cell);
                tbody.appendChild(row);
            }
        });

        let newQuantity;
        function updateQuantity(button, change) {
        	
        	// localStorage에서 저장된 'selectedProduct' 가져오기
            const productInfo = JSON.parse(localStorage.getItem('selectedProduct'));
        	
            const quantityTag = button.parentElement.querySelector('.quantity-input');
            let currentQuantity = parseInt(quantityTag.textContent); // 현재 수량
            newQuantity = currentQuantity + change; // 변경된 수량
            if (newQuantity < 1) newQuantity = 1; // 최소 수량 제한
            if (newQuantity > productInfo.stock) {
            	alert("재고수를 초과하였습니다!");
            	newQuantity = productInfo.stock;
            }
            quantityTag.textContent = newQuantity; // 수량 업데이트
            updatePrice(quantityTag);
        }

        function updatePrice(quantityTag) {
            const row = quantityTag.closest('tr'); // 현재 행 선택
            const price = parseInt(row.querySelector('.product-price').textContent.replace(/,/g, '')); // 상품 가격
            const quantity = parseInt(quantityTag.textContent); // 수량
            const orderPriceCell = row.querySelector('.order-price'); // 주문 금액 셀
            const orderPrice = price * quantity; // 주문 금액 계산
            orderPriceCell.textContent = orderPrice.toLocaleString() + '원'; // 업데이트

         	// 선택상품 총금액과 최종 결제금액 업데이트
            updatePayment(price, quantity);
        }

        // 배송금액 하나로 병합
        document.addEventListener("DOMContentLoaded", () => {
            const mergeFixedShippingFee = () => {
                const rows = document.querySelectorAll("#order-table tbody tr");
                if (rows.length === 0) return;

                // 첫 번째 행의 배송 금액 셀 가져오기
                const firstFeeCell = rows[0].querySelector(".shipping-fee");
                firstFeeCell.rowSpan = rows.length;

                // 나머지 행의 배송 금액 셀 삭제
                rows.forEach((row, index) => {
                    if (index > 0) {
                        const feeCell = row.querySelector(".shipping-fee");
                        if (feeCell) feeCell.remove();
                    }
                });
            };

            mergeFixedShippingFee();
        });

     	// 전역에서 widgets 객체를 선언
        let widgets;
        let isPaymentInProgress = false;
        let baseAmount;
     	// 선택상품 총금액과 최종 결제금액 업데이트 함수
        function updatePayment(price, quantity) {
            const totalAmount = price * quantity; // 선택상품 총금액
            const shippingAmount = 5000; // 배송금액
            const finalAmount = totalAmount + shippingAmount; // 최종 결제금액

            // 선택상품 총금액과 최종 결제금액 업데이트
            document.querySelector('.total-price').textContent = `${totalAmount.toLocaleString()}원`; // 선택상품 총금액
            document.querySelector('.pay-price').textContent = `${finalAmount.toLocaleString()}원`; // 최종 결제금액
     	
         	// baseAmount 업데이트
            baseAmount = finalAmount; // 최종 결제 금액을 baseAmount로 설정
            updatePaymentUI(baseAmount); // 결제 UI 업데이트
     	}

        let tossPayments;
     	// 결제 UI 업데이트 함수
        async function updatePaymentUI(baseAmount) {
            const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm"; // 토스 클라이언트 키
            tossPayments = TossPayments(clientKey);

            if (!widgets) {
            	const customerKey = "ANONYMOUS"; // 고객 키
                widgets = tossPayments.widgets({ customerKey });
            }

            await widgets.setAmount({
                currency: "KRW",
                value: baseAmount,
            });
            
            console.log(baseAmount);

            await Promise.all([
                widgets.renderPaymentMethods({
                    selector: "#payment-method",
                    variantKey: "DEFAULT",
                }),
                widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
            ]);
        }
     	
        document.addEventListener("DOMContentLoaded", () => {
	        // 결제 버튼 이벤트 추가
	        const paymentButton = document.getElementById('payment-button');
	        
	        // 결제하기 버튼 클릭 시 결제 요청
	        paymentButton.addEventListener("click", async function () {
	        	// 이미 결제 진행 중이면 요청을 중단
	            if (isPaymentInProgress) {
	                alert("결제 요청이 이미 진행 중입니다. 잠시 후 다시 시도해주세요.");
	                return;
	            }

	            // 결제 진행 상태를 true로 설정
	            isPaymentInProgress = true;
	            
	            const name = document.getElementById('name').value;
	            const phone = document.getElementById('phone').value;
	            const zipNo = document.getElementById('zipNo').value;
	            const address1 = document.getElementById('address1').value;
	            const address2 = document.getElementById('address2').value;

	            currentOrder['address'] = address1 + ' ' + address2;
            	currentOrder['request'] = document.getElementById("request").value;
                currentOrder['assemblyStatus'] = '조립 미신청';
                currentOrder['amount'] = newQuantity;
                currentOrder['order_price'] = baseAmount;

                const currentordergetdata = encodeURIComponent(JSON.stringify(currentOrder));
				console.log(currentordergetdata);
	            // 필수 입력 항목 확인
	            if (!name || !phone || !zipNo || !address1 || !address2) {
	                alert("성함, 연락처, 배송주소를 모두 입력해주세요.");
	                isPaymentInProgress = false; // 초기화
	                return; // 입력이 누락된 경우 결제 요청을 중단
	            }

	            try {
	            	// 결제 요청
	                const paymentResult = await widgets.requestPayment({
	                    orderId: "ORDER_ID_1234", // 고유 주문 번호
	                    orderName: "그래픽 카드 구매", // 주문 이름
	                    successUrl: `http://localhost:8080/api/order?orderdata=${currentordergetdata}`, // 결제 성공 시 리다이렉트 URL
	                    failUrl: "http://localhost:8080/payfail", // 결제 실패 시 리다이렉트 URL
	                    customerName: name,
	                    customerMobilePhone: phone,

	                });
	                console.log("결제 결과:", paymentResult);

	                // 결제 승인 처리 (결제 성공 시)
	             /*    if (paymentResult.status === "SUCCESS") {
	                	// currentOrder에 추가
	                    currentOrder['address'] = address1 + ' ' + address2;
	                	currentOrder['request'] = document.getElementById("request").value;
	                    currentOrder['assemblyStatus'] = '조립 미신청';
	                    // JSON으로 변환
	                    const jsonOrder = JSON.stringify(currentOrder);
	                    console.log("json형식:", jsonOrder);
	                	//서버로 전송
	                    fetch('http://localhost:8080/api/order', {
	                        method: 'POST',
	                        headers: {
	                            'Content-Type': 'application/json',
	                        },
	                        body: jsonOrder,
	                    })
	                        .then((response) => {
	                            if (response.status === 401) {
	                                // 로그인이 필요한 경우
	                                return response.json().then(data => {
	                                    alert(data.msg);
	                                    window.location.href = data.url;
	                                });
	                            }
	                            if (!response.ok) {
	                                throw new Error('주문 내역 저장 실패');
	                            }
	                            return response.json();
	                        })
	                        .then((data) => {
	                            alert(data.msg);
	                            window.location.href = "http://localhost:8080/paysuccess";
	                        })
	                        .catch((error) => {
	                            console.error('저장 오류:', error);
	                            alert('주문 내역 저장 중 오류가 발생했습니다.');
	                        });
	                } else {
	                    alert("결제에 실패하였습니다. 다시 시도해주세요.");
	                    window.location.href = "http://localhost:8080/payfail";
	                } */
	            } catch (error) {
	                console.error("결제 처리 중 오류 발생:", error);
	                alert("결제 처리 중 오류가 발생했습니다. 다시 시도해주세요.");
	            } finally {
	                // 결제 진행 상태를 false로 설정하여 결제 완료 후 버튼을 다시 활성화
	                isPaymentInProgress = false;
	            }
	        });
        });

    </script>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/img/logo.png" id="logo" style="cursor: pointer;">
            <p>
                <span th:text="${customer.name} + 님"></span>&nbsp|
                <a href="mypage">
                    <img src="/img/human-icon.png" class="human-icon">
                </a>
                <a href="cartpage">
                    <img src="/img/cart-icon.png" class="cart-icon">
                </a>
                <a href="logout">
                    <img src="/img/lock-icon.png" class="lock-icon">
                </a>
            </p>
        </div>
    </header>
    <main>
        <div id="title">
            <h3>주문/결제</h3>
        </div>
        <div id="title">
            <span>배송정보</span>
        </div>
        <div id="info-form">
            <form action="/mypage" method="post">
                <table>
                    <tr>
                        <td><label>카드소유주명</label></td>
                        <td><input type="text" id="name" name="name"></td>
                    </tr>
                    <tr>
                        <td><label>연락처</label></td>
                        <td><input type="text" id="phone" name="phone" oninput="validatePhoneInput(this)"></td>
                    </tr>
                    <tr>
                        <td><label>배송주소</label></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" id="zipNo" name="zipNo" placeholder="우편번호" readonly>
                                <button type="button" class="btn-find-address" onClick="goPopup()"><i class="fa fa-search"></i>우편번호 찾기</button>
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="text" class="form-control" id="address1" name="address1" placeholder="도로명주소" readonly/>&nbsp;
                                <input type="text" class="form-control" id="address2" name="address2" placeholder="상세주소"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>요청사항</label></td>
                        <td><input type="text" id="request" name="request"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="title">
            <span>주문 상품 정보</span>
        </div>
        <div id="pay-form">
            <form action="/mypage" method="post">
                <table id="order-table">
                    <thead>
                        <tr>
                            <th>상품 이름</th>
                            <th>상품 가격</th>
                            <th>수량</th>
                            <th>주문 금액</th>
                            <th>배송 금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"><span>5000원</span><br><span>조립미신청</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="payment-summary">
                <div class="item">
                    <span class="label">선택상품 총금액</span>
                    <span id="amount" class="total-price"></span>
                </div>
                <img class="plus" src="/img/plus.png" alt="더하기">
                <div class="item">
                    <span class="label">배송금액</span>
                    <span id="amount">5000원</span>
                </div>
                <img class="same" src="/img/same.png" alt="결과">
                <span class="label">최종 결제금액</span>
                <span id="amount" class="pay-price"></span>
            </div>
            <div id="title">
                <div id="payment-method"></div>
                <div id="agreement"></div>
                <button id="payment-button" class="btn-pay">결제하기</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <img src="/img/logo-footer.png" alt="로고">
            <div class="footer-text">
                <p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
                <p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
                <p>문의: 02-1234-5678</p>
                <p>메일: SelfTop@selftop.com</p>
            </div>
        </div>
    </footer>
</body>
</html>