<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Customer_order_detail</title>
<link rel="stylesheet" href="/css/customerorderdetail.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const params = new URLSearchParams(window.location.search);
		const message = params.get("message");
		if (message) {
			alert(message);
		}
	});
</script>
<script type="text/javascript" src="/js/customerorderdetail.js"></script>
</head>
<body>
	<header>
		<div class="header-content">
			<img src="/img/logo.png">
			<p>
				<span th:text="${membername} + 님"></span>&nbsp| <a href="mypage">
					<img src="/img/human-icon.png" class="human-icon">
				</a> <a href="cart"> <img src="/img/cart-icon.png" class="cart-icon">
				</a> <a href="signup"> <img src="/img/lock-icon.png"
					class="lock-icon">
				</a>
			</p>
		</div>
	</header>
	<main>
		<div id="title">
			<a href="mypage"> <span id="mypage-tab">마이페이지</span>
			</a>| <a href="order"> <span id="order-tab" class="selected">주문
					내역</span>
			</a>
		</div>
		<div class="order_status">
			<div>
				<div class="order_cancel">
					<h2>
						주문 <br> 상세정보
					</h2>
				</div>
				<hr>
				<div class="order_cancel">
					<h4>취소요청</h4>
				</div>
			</div>
			<div class="order_no">
				<h2>주문번호</h2>
				<br>
				<h3 th:text=${ordernum} style="color: #008ADA;"></h3>
			</div>
			<div class="order_date">
				<h2>주문날짜</h2>
				<br>
				<h3 th:text=${orderdate} style="color: #008ADA;"></h3>
			</div>
			<div class="delivery_status">
				<h2>상태</h2>
				<br>
				<h3 th:text=${orderstatus} style="color: #008ADA;"></h3>
			</div>
		</div>
		<div class="namezone">
		    <h2 th:if="${orderstatus == '배송완료'}">배송이 완료된 건입니다.</h2>
		    <h2 th:if="${orderstatus != '배송완료'}">
		        송장번호 :
		        <span th:if="${deliveryNo != null}" th:text="${deliveryNo}"></span>
		        <span th:if="${deliveryNo == null}">배송 시작 대기중</span>
		    </h2>
		</div>
		<div class="orderprice">
			<div class="product_price">
				<div class="orderprice_title">
					<p>상품금액</p>
				</div>
				<div class="orderprice_data">
					<p th:text="${orderprice} + 원"></p>
				</div>
			</div>
			<div class="delivery_price">
				<div class="orderprice_title">
					<p>배송비</p>
				</div>
				<div class="orderprice_data">
					<p>5000원</p>
				</div>
			</div>
			<div class="total_price">
				<div class="orderprice_title">
					<p>결제금액</p>
				</div>
				<div class="orderprice_data">
					<p th:text="${orderprice} +5000 +원"></p>
				</div>
			</div>
		</div>
		<div class="namezone">
			<h2>배송지 정보</h2>
		</div>
		<table class="deliveryinform">
		    <tr>
		        <th class="deliveryinfo_title">성함</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.name}"></h4></td>
		    </tr>
		    <tr>
		        <th class="deliveryinfo_title">연락처</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.phone}"></h4></td>
		    </tr>
		    <tr>
		        <th class="deliveryinfo_title">배송주소</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.address}"></h4></td>
		    </tr>
		    <tr>
		        <th class="deliveryinfo_title">요청사항</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.request}"></h4></td>
		    </tr>
		</table>
		<div class="namezone">
			<h2>주문 상품 정보</h2>
		</div>
		<div class="productinform">
			<table class="productorder_table">
				<tr class="productorder_title">
					<th style="width: 10%;">후기작성</th>
					<th style="width: 50%;">상품 이름</th>
					<th style="width: 15%;">금액</th>
					<th style="width: 10%;">수량</th>
					<th style="width: 15%;">배송비</th>
				</tr>
				<tr th:each="dto : ${orderinfo}">
					<th th:text="${dto.customer_no}"></th>
					<th th:text="${dto.product_name}"></th>
					<th th:text="${dto.price} * ${dto.amount} +원"></th>
					<th th:text="${dto.amount} +개"></th>
					<th class="same-delivery">5000원</th>
				</tr>
			</table>
		</div>
		<div class="previous">
			<button onclick="goBack()">이전페이지</button>
		</div>
	</main>

	<footer>
		<div class="footer-content">
			<img src="/img/logo-footer.png" alt="로고">
			<div class="footer-text">
				<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
				<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
				<p>문의: 02-1234-5678</p>
				<p>메일: SelfTop@selftop.com</p>
			</div>
		</div>
	</footer>

</body>
</html>