<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer_Pay</title>
    <link rel="stylesheet" href="/css/customerPay.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <script>
	 // 전화번호 숫자로만 입력
	    function validatePhoneInput(input) {
	        input.value = input.value.replace(/[^0-9]/g, '');
	    }

	    // 주소검색 팝업창
	    function goPopup() {
	        const popupUrl = '/seller/addressPopup';
	        window.open(popupUrl, 'pop', "width=570,height=420, scrollbars=yes, resizable=yes");
	    }

	    function jusoCallBack(zipNo, roadAddrPart1, addrDetail) {
	        document.getElementById("zipNo").value = zipNo;
	        document.getElementById("address1").value = roadAddrPart1;
	        document.getElementById("address2").value = addrDetail;
	    }

	    let currentOrder = {};
		// 페이지가 로드되면 실행되는 함수
		document.addEventListener("DOMContentLoaded", function() {
			// 바로 구매 시 selectedProduct에서 데이터 가져오기
		    const productInfo = JSON.parse(localStorage.getItem('selectedProduct'));
		 	// 장바구니에서 구매할 경우 CartDetails에서 데이터 가져오기
		    const cartInfo = JSON.parse(localStorage.getItem('CartDetails'));
		 	// 견적함에서 구매할 경우 QuoteDetails에서 데이터 가져오기
		    const quoteInfo = JSON.parse(localStorage.getItem('QuoteDetails'));

		     if (productInfo) {
		    	 currentOrder['product_code'] = productInfo.product_code;
			     currentOrder['seller_no'] = productInfo.seller_no;
			     console.log(productInfo);

		         // 장바구니 데이터 초기화 (바로 구매 시)
		         localStorage.removeItem('CartDetails'); // 장바구니 데이터 삭제
		      	 // 견적함 데이터 초기화 (바로 구매 시)
		         localStorage.removeItem('QuoteDetails'); // 견적함 데이터 삭제

		         // 테이블 초기화 (바로 구매 시)
		         const tbody = document.querySelector('#order-table tbody');
		         tbody.innerHTML = '';  // 기존 테이블 내용 초기화

		         // 테이블에 바로 구매 상품 추가
		         const row = document.createElement('tr');
		         const productNameCell = document.createElement('td');
		         productNameCell.innerHTML = `
		             <div class="product-container">
		                 <img class="product-image" src="${productInfo.thumbnail}" alt="${productInfo.name}">
		                 <div class="product-details">
		                     <p class="product-type">${productInfo.category}</p>
		                     <p class="product-name">${productInfo.name}</p>
		                 </div>
		             </div>
		         `;

		         const productPriceCell = document.createElement('td');
		         productPriceCell.classList.add('product-price');
		         productPriceCell.innerText = `${productInfo.price.toLocaleString()}원`;

		         const quantityCell = document.createElement('td');
		         quantityCell.classList.add('quantity');
		         quantityCell.innerHTML = `
		             <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
		             <p class="quantity-input">1</p>
		             <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
		         `;

		         const orderPriceCell = document.createElement('td');
		         orderPriceCell.classList.add('order-price');
		         const totalPrice = productInfo.price * 1; // 수량 1로 설정
		         orderPriceCell.innerText = `${totalPrice.toLocaleString()}원`;

		         const shippingFeeCell = document.createElement('td');
		         shippingFeeCell.classList.add('shipping-fee');
		         shippingFeeCell.innerText = `5,000원\n(${productInfo.assembly})`;

		         row.appendChild(productNameCell);
		         row.appendChild(productPriceCell);
		         row.appendChild(quantityCell);
		         row.appendChild(orderPriceCell);
		         row.appendChild(shippingFeeCell);

		         tbody.appendChild(row);

		         // 선택상품 총금액과 최종 결제금액 업데이트
		         updatePayment(productInfo.price, 1);
		         currentOrder['assemblyStatus'] = '조립 미신청';
		     }

		     if (cartInfo && cartInfo.length > 0) {
		    	 console.log(cartInfo);

		         // 바로구매 데이터 초기화 (장바구니 구매 시)
		         localStorage.removeItem('selectedProduct'); // 바로구매 데이터 삭제
		      	 // 견적함 데이터 초기화 (장바구니 구매 시)
		         localStorage.removeItem('QuoteDetails'); // 견적함 데이터 삭제
		         // 테이블의 tbody를 가져옵니다.
		         const tbody = document.querySelector('#order-table tbody');

		         // 기존 테이블 내용 초기화
		         tbody.innerHTML = '';

		         let totalAmount = 0;
                 let assemblyFeeAdded = false;

		         // 주문 데이터로 테이블 업데이트
		         cartInfo.forEach((item, index) => {
		             // 제품 이름이 null이 아니면 테이블에 추가
		             if (item.name !== null && item.name !== '') {
		                 const row = document.createElement('tr');

		                 // 상품 이름
		                 const productNameCell = document.createElement('td');
		                 productNameCell.innerHTML = `
		                     <div class="product-container">
		                         <img class="product-image" src="${item.thumbnail}" alt="${item.thumbnail}">
		                         <div class="product-details">
		                             <p class="product-type">${item.category}</p>
		                             <p class="product-name">${item.name}</p>
		                         </div>
		                     </div>
		                 `;

		                 // 상품 가격
		                 const productPriceCell = document.createElement('td');
		                 productPriceCell.classList.add('product-price');
		                 productPriceCell.innerText = `${item.price.toLocaleString()}원`;

		                 // 수량
		                 const quantityCell = document.createElement('td');
		                 quantityCell.classList.add('quantity');
		                 quantityCell.innerHTML = `
		                     <button type="button" class="quantity-btn" onclick="updateQuantityCart(${index}, -1)">-</button>
		                     <p class="quantity-input">${item.quantity}</p>
		                     <button type="button" class="quantity-btn" onclick="updateQuantityCart(${index}, 1)">+</button>
		                 `;

		                 // 주문 금액 (상품 가격 * 수량)
		                 const orderPriceCell = document.createElement('td');
		                 orderPriceCell.classList.add('order-price');
		                 const totalPrice = item.price * item.quantity;
		                 orderPriceCell.innerText = `${totalPrice.toLocaleString()}원`;

		              	 // 총 금액 계산
						 if (item.assembly === '조립 신청' && !assemblyFeeAdded) {
							totalAmount += totalPrice + 20000; // 조립 신청 시 2만원 추가
						    assemblyFeeAdded = true; // 한 번만 추가되도록 설정
						 } else {
						    totalAmount += totalPrice; // 조립 미신청 시 추가 금액 없음
						 }

		                 // 배송 금액 설정
		                 const shippingFeeCell = document.createElement('td');
		                 shippingFeeCell.classList.add('shipping-fee');
		                 shippingFeeCell.innerText = `5,000원\n(${item.assembly})`;

		                 // 테이블 행에 추가
		                 row.appendChild(productNameCell);
		                 row.appendChild(productPriceCell);
		                 row.appendChild(quantityCell);
		                 row.appendChild(orderPriceCell);
		                 row.appendChild(shippingFeeCell);

		                 // tbody에 행 추가
		                 tbody.appendChild(row);
		             }
		         });

		         mergeFixedShippingFee();

		     	 // 선택상품 총금액과 최종 결제금액 업데이트
			     const shippingAmount = 5000; // 배송비
			     const finalAmount = totalAmount + shippingAmount;
			     updatePayment(totalAmount, finalAmount);
		     }

		     if (quoteInfo && quoteInfo.length > 0) {
		    	 console.log(quoteInfo);

		         // 바로구매 데이터 초기화 (견적함 구매 시)
		         localStorage.removeItem('selectedProduct'); // 바로구매 데이터 삭제
		      	 // 장바구니 데이터 초기화 (견적함 구매 시)
		         localStorage.removeItem('CartDetails'); // 장바구니 데이터 삭제
		         // 테이블의 tbody를 가져옵니다.
		         const tbody = document.querySelector('#order-table tbody');

		         // 기존 테이블 내용 초기화
		         tbody.innerHTML = '';

		         let totalAmount = 0;
                 let assemblyFeeAdded = false;

		         // 주문 데이터로 테이블 업데이트
		         quoteInfo.forEach((item, index) => {
		             // 제품 이름이 null이 아니면 테이블에 추가
		             if (item.name !== null && item.name !== '') {
		                 const row = document.createElement('tr');

		                 // 상품 이름
		                 const productNameCell = document.createElement('td');
		                 productNameCell.innerHTML = `
		                     <div class="product-container">
		                         <img class="product-image" src="${item.thumbnail}" alt="${item.thumbnail}">
		                         <div class="product-details">
		                             <p class="product-type">${item.category}</p>
		                             <p class="product-name">${item.name}</p>
		                         </div>
		                     </div>
		                 `;

		                 // 상품 가격
		                 const productPriceCell = document.createElement('td');
		                 productPriceCell.classList.add('product-price');
		                 productPriceCell.innerText = `${item.price.toLocaleString()}원`;

		                 // 수량
		                 const quantityCell = document.createElement('td');
		                 quantityCell.classList.add('quantity');
		                 quantityCell.innerHTML = `
		                     <button type="button" class="quantity-btn" onclick="updateQuantityQuote(${index}, -1)">-</button>
		                     <p class="quantity-input">${item.quantity}</p>
		                     <button type="button" class="quantity-btn" onclick="updateQuantityQuote(${index}, 1)">+</button>
		                 `;

		                 // 주문 금액 (상품 가격 * 수량)
		                 const orderPriceCell = document.createElement('td');
		                 orderPriceCell.classList.add('order-price');
		                 const totalPrice = item.price * item.quantity;
				         orderPriceCell.innerText = `${totalPrice.toLocaleString()}원`;

		              	 // 총 금액 계산
						 if (item.assembly === '조립 신청' && !assemblyFeeAdded) {
							totalAmount += totalPrice + 20000; // 조립 신청 시 2만원 추가
						    assemblyFeeAdded = true; // 한 번만 추가되도록 설정
						 } else {
						    totalAmount += totalPrice; // 조립 미신청 시 추가 금액 없음
						 }

		                 // 배송 금액 설정
		                 const shippingFeeCell = document.createElement('td');
		                 shippingFeeCell.classList.add('shipping-fee');
		                 shippingFeeCell.innerText = `5,000원\n(${item.assembly})`;

		                 // 테이블 행에 추가
		                 row.appendChild(productNameCell);
		                 row.appendChild(productPriceCell);
		                 row.appendChild(quantityCell);
		                 row.appendChild(orderPriceCell);
		                 row.appendChild(shippingFeeCell);

		                 // tbody에 행 추가
		                 tbody.appendChild(row);
		             }
		         });

		         mergeFixedShippingFee();

		     	 // 선택상품 총금액과 최종 결제금액 업데이트
			     const shippingAmount = 5000; // 배송비
			     const finalAmount = totalAmount + shippingAmount;
			     updatePayment(totalAmount, finalAmount);
		     }
		 });

		 // 수량 조절 함수 (바로 구매에서)
		 function updateQuantity(button, change) {
		     const productInfo = JSON.parse(localStorage.getItem('selectedProduct'));
		     const quantityTag = button.parentElement.querySelector('.quantity-input');
		     let currentQuantity = parseInt(quantityTag.textContent); // 현재 수량
		     let newQuantity = currentQuantity + change; // 변경된 수량
		     if (newQuantity < 1) newQuantity = 1; // 최소 수량 제한
		     if (newQuantity > productInfo.stock) {
		         alert("재고수를 초과하였습니다!");
		         newQuantity = productInfo.stock;
		     }
		     quantityTag.textContent = newQuantity; // 수량 업데이트
		     updatePrice(quantityTag);
            currentOrder['amount'] = newQuantity;
            currentOrder['order_price'] = productInfo.price * newQuantity;
		 }

		 // 가격 업데이트 함수 (수량 변경 시)
		 function updatePrice(quantityTag) {
		     const row = quantityTag.closest('tr'); // 현재 행 선택
		     const price = parseInt(row.querySelector('.product-price').textContent.replace(/,/g, '')); // 상품 가격
		     const quantity = parseInt(quantityTag.textContent); // 수량
		     const orderPriceCell = row.querySelector('.order-price'); // 주문 금액 셀
		     const orderPrice = price * quantity; // 주문 금액 계산
		     orderPriceCell.textContent = orderPrice.toLocaleString() + '원'; // 업데이트

		     // 선택상품 총금액과 최종 결제금액 업데이트
		     updatePayment(price, quantity);
		 }

		 // 수량 조절 함수 (장바구니에서)
		 function updateQuantityCart(index, change) {
		     // localStorage에서 저장된 주문 데이터 가져오기
		     const cartInfo = JSON.parse(localStorage.getItem('CartDetails'));

		     if (cartInfo && cartInfo[index]) {
		         // 수량 업데이트
		         let newQuantity = cartInfo[index].quantity + change; // 변경된 수량

			     if (newQuantity < 1) newQuantity = 1; // 최소 수량 제한
			     if (newQuantity > cartInfo[index].stock) {
			         alert("재고수를 초과하였습니다!");
			         newQuantity = cartInfo[index].stock-1;
			     }

			     // 업데이트된 수량을 cartInfo 배열에 반영
			     cartInfo[index].quantity = newQuantity;

		         // localStorage에 업데이트된 주문 데이터 저장
		         localStorage.setItem('CartDetails', JSON.stringify(cartInfo));

		         // 테이블을 갱신
		         updateCartTable(cartInfo);

		     }
		 }

		 // 장바구니 테이블 갱신 함수
		 function updateCartTable(cartInfo) {
		     const tbody = document.querySelector('#order-table tbody');
		     tbody.innerHTML = ''; // 기존 내용 삭제

		     let totalAmount = 0; // 선택상품 총금액 초기화
             let assemblyFeeAdded = false; // 2만원 추가 여부를 추적하는 변수

          	 // currentOrder를 빈 객체로 초기화
             currentOrder = {};
             let assemblyStatus = cartInfo[0].assembly;
             currentOrder['assemblyStatus'] = assemblyStatus;
		     cartInfo.forEach((item, index) => {
		         const row = document.createElement('tr');
		         const productNameCell = document.createElement('td');
		         productNameCell.innerHTML = `
		             <div class="product-container">
		                 <img class="product-image" src="${item.thumbnail}" alt="${item.thumbnail}">
		                 <div class="product-details">
		                     <p class="product-type">${item.category}</p>
		                     <p class="product-name">${item.name}</p>
		                 </div>
		             </div>
		         `;
		         const productPriceCell = document.createElement('td');
		         productPriceCell.classList.add('product-price');
		         productPriceCell.innerText = `${item.price.toLocaleString()}원`;

		         const quantityCell = document.createElement('td');
		         quantityCell.classList.add('quantity');
		         quantityCell.innerHTML = `
		             <button type="button" class="quantity-btn" onclick="updateQuantityCart(${index}, -1)">-</button>
		             <p class="quantity-input">${item.quantity}</p>
		             <button type="button" class="quantity-btn" onclick="updateQuantityCart(${index}, 1)">+</button>
		         `;

		         const orderPriceCell = document.createElement('td');
		         orderPriceCell.classList.add('order-price');
		         const totalPrice = item.price * item.quantity;
		         orderPriceCell.innerText = `${totalPrice.toLocaleString()}원`;

		      	 // 총 금액 계산
				 if (item.assembly === '조립 신청' && !assemblyFeeAdded) {
					totalAmount += totalPrice + 20000; // 조립 신청 시 2만원 추가
				    assemblyFeeAdded = true; // 한 번만 추가되도록 설정
				 } else {
				    totalAmount += totalPrice; // 조립 미신청 시 추가 금액 없음
				 }

		         const shippingFeeCell = document.createElement('td');
		         shippingFeeCell.classList.add('shipping-fee');
		         shippingFeeCell.innerText = `5,000원\n(${item.assembly})`;

		         row.appendChild(productNameCell);
		         row.appendChild(productPriceCell);
		         row.appendChild(quantityCell);
		         row.appendChild(orderPriceCell);
		         row.appendChild(shippingFeeCell);

		         tbody.appendChild(row);

		      	 // currentOrder 객체에 각 제품의 quantity를 업데이트
		         currentOrder[`item${index}`] = {
		      	     product_code: item.product_code,
		      	     seller_no: item.seller_no,
		      		 amount: item.quantity,
		             assemblyStatus: item.assembly,
		             order_price: item.price * item.quantity,
		         };

		     });

		     // 배송 금액 병합 호출
		     mergeFixedShippingFee();

		  	 // 선택상품 총금액과 최종 결제금액 업데이트
		     const shippingAmount = 5000; // 배송비
		     const finalAmount = totalAmount + shippingAmount;
		     updatecartPayment(totalAmount, finalAmount);
		 }

		 // 수량 조절 함수 (장바구니에서)
		 function updateQuantityQuote(index, change) {
		     // localStorage에서 저장된 주문 데이터 가져오기
		     const quoteInfo = JSON.parse(localStorage.getItem('QuoteDetails'));

		     if (quoteInfo && quoteInfo[index]) {
		         // 수량 업데이트
		         let newQuantity = quoteInfo[index].quantity + change; // 변경된 수량

			     if (newQuantity < 1) newQuantity = 1; // 최소 수량 제한

			     // 업데이트된 수량을 cartInfo 배열에 반영
			     quoteInfo[index].quantity = newQuantity;

		         // localStorage에 업데이트된 주문 데이터 저장
		         localStorage.setItem('QuoteDetails', JSON.stringify(quoteInfo));

		         // 테이블을 갱신
		         updateQuoteTable(quoteInfo);

		     }
		 }

		 // 장바구니 테이블 갱신 함수
		 function updateQuoteTable(quoteInfo) {
		     const tbody = document.querySelector('#order-table tbody');
		     tbody.innerHTML = ''; // 기존 내용 삭제

		     let totalAmount = 0; // 선택상품 총금액 초기화
             let assemblyFeeAdded = false; // 2만원 추가 여부를 추적하는 변수

          	 // currentOrder를 빈 객체로 초기화
             currentOrder = {};
             let assemblyStatus = quoteInfo[0].assembly;
             currentOrder['assemblyStatus'] = assemblyStatus;
		     quoteInfo.forEach((item, index) => {
		         const row = document.createElement('tr');
		         const productNameCell = document.createElement('td');
		         productNameCell.innerHTML = `
		             <div class="product-container">
		                 <img class="product-image" src="${item.thumbnail}" alt="${item.thumbnail}">
		                 <div class="product-details">
		                     <p class="product-type">${item.category}</p>
		                     <p class="product-name">${item.name}</p>
		                 </div>
		             </div>
		         `;
		         const productPriceCell = document.createElement('td');
		         productPriceCell.classList.add('product-price');
		         productPriceCell.innerText = `${item.price.toLocaleString()}원`;

		         const quantityCell = document.createElement('td');
		         quantityCell.classList.add('quantity');
		         quantityCell.innerHTML = `
		             <button type="button" class="quantity-btn" onclick="updateQuantityCart(${index}, -1)">-</button>
		             <p class="quantity-input">${item.quantity}</p>
		             <button type="button" class="quantity-btn" onclick="updateQuantityCart(${index}, 1)">+</button>
		         `;

		         const orderPriceCell = document.createElement('td');
		         orderPriceCell.classList.add('order-price');
		         const totalPrice = item.price * item.quantity;
		         orderPriceCell.innerText = `${totalPrice.toLocaleString()}원`;

		      	 // 총 금액 계산
				 if (item.assembly === '조립 신청' && !assemblyFeeAdded) {
					totalAmount += totalPrice + 20000; // 조립 신청 시 2만원 추가
				    assemblyFeeAdded = true; // 한 번만 추가되도록 설정
				 } else {
				    totalAmount += totalPrice; // 조립 미신청 시 추가 금액 없음
				 }

		         const shippingFeeCell = document.createElement('td');
		         shippingFeeCell.classList.add('shipping-fee');
		         shippingFeeCell.innerText = `5,000원\n(${item.assembly})`;

		         row.appendChild(productNameCell);
		         row.appendChild(productPriceCell);
		         row.appendChild(quantityCell);
		         row.appendChild(orderPriceCell);
		         row.appendChild(shippingFeeCell);

		         tbody.appendChild(row);

		      	 // currentOrder 객체에 각 제품의 quantity를 업데이트
		         currentOrder[`item${index}`] = {
		      	     product_code: item.product_code,
		      	     seller_no: item.seller_no,
		      		 amount: item.quantity,
		             assemblyStatus: item.assembly,
		             order_price: item.price * item.quantity,
		         };

		     });

		     // 배송 금액 병합 호출
		     mergeFixedShippingFee();

		  	 // 선택상품 총금액과 최종 결제금액 업데이트
		     const shippingAmount = 5000; // 배송비
		     const finalAmount = totalAmount + shippingAmount;
		     updatecartPayment(totalAmount, finalAmount);
		 }

        // 배송금액 하나로 병합
        function mergeFixedShippingFee() {
        	const rows = document.querySelectorAll("#order-table tbody tr");
            if (rows.length === 0) return;

          	// 첫 번째 행의 배송 금액 셀 가져오기
            const firstFeeCell = rows[0].querySelector(".shipping-fee");
            if (firstFeeCell) {
            	firstFeeCell.rowSpan = rows.length;

                // 나머지 행의 배송 금액 셀 삭제
                rows.forEach((row, index) => {
                    if (index > 0) {
                        const feeCell = row.querySelector(".shipping-fee");
                        if (feeCell) feeCell.remove();
                    }
                });
            }
        }

     	// 전역에서 widgets 객체를 선언
        let widgets;
        let isPaymentInProgress = false;
        let baseAmount;
     	// 선택상품 총금액과 최종 결제금액 업데이트 함수
        function updatePayment(price, quantity) {
            const totalAmount = price * quantity; // 선택상품 총금액
            const shippingAmount = 5000; // 배송금액
            const finalAmount = totalAmount + shippingAmount; // 최종 결제금액

            // 선택상품 총금액과 최종 결제금액 업데이트
            document.querySelector('.total-price').textContent = `${totalAmount.toLocaleString()}원`; // 선택상품 총금액
            document.querySelector('.pay-price').textContent = `${finalAmount.toLocaleString()}원`; // 최종 결제금액
     	
         	// baseAmount 업데이트
            baseAmount = finalAmount; // 최종 결제 금액을 baseAmount로 설정
            updatePaymentUI(baseAmount); // 결제 UI 업데이트
     	}
        function updatecartPayment(totalAmount, finalAmount) {
            // 선택상품 총금액과 최종 결제금액 업데이트
            document.querySelector('.total-price').textContent = `${totalAmount.toLocaleString()}원`; // 선택상품 총금액
            document.querySelector('.pay-price').textContent = `${finalAmount.toLocaleString()}원`; // 최종 결제금액

            console.log(document.querySelector('.total-price').textContent);
            console.log(document.querySelector('.pay-price').textContent);
            // baseAmount 업데이트
            baseAmount = finalAmount; // 최종 결제 금액을 baseAmount로 설정
            updatePaymentUI(baseAmount); // 결제 UI 업데이트
        }
        function updatequotePayment(totalAmount, finalAmount) {
            // 선택상품 총금액과 최종 결제금액 업데이트
            document.querySelector('.total-price').textContent = `${totalAmount.toLocaleString()}원`; // 선택상품 총금액
            document.querySelector('.pay-price').textContent = `${finalAmount.toLocaleString()}원`; // 최종 결제금액

            console.log(document.querySelector('.total-price').textContent);
            console.log(document.querySelector('.pay-price').textContent);
            // baseAmount 업데이트
            baseAmount = finalAmount; // 최종 결제 금액을 baseAmount로 설정
            updatePaymentUI(baseAmount); // 결제 UI 업데이트
        }

        let tossPayments;
     	// 결제 UI 업데이트 함수
        async function updatePaymentUI(baseAmount) {
            const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm"; // 토스 클라이언트 키
            tossPayments = TossPayments(clientKey);

            if (!widgets) {
            	const customerKey = "ANONYMOUS"; // 고객 키
                widgets = tossPayments.widgets({ customerKey });
            }

            await widgets.setAmount({
                currency: "KRW",
                value: baseAmount,
            });
            
            console.log(baseAmount);

            await Promise.all([
                widgets.renderPaymentMethods({
                    selector: "#payment-method",
                    variantKey: "DEFAULT",
                }),
                widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
            ]);
        }
     	
        document.addEventListener("DOMContentLoaded", () => {
	        // 결제 버튼 이벤트 추가
	        const paymentButton = document.getElementById('payment-button');
	        
	        // 결제하기 버튼 클릭 시 결제 요청
	        paymentButton.addEventListener("click", async function () {
	        	// 이미 결제 진행 중이면 요청을 중단
	            if (isPaymentInProgress) {
	                alert("결제 요청이 이미 진행 중입니다. 잠시 후 다시 시도해주세요.");
	                return;
	            }

	            // 결제 진행 상태를 true로 설정
	            isPaymentInProgress = true;
	            
	            const name = document.getElementById('name').value;
	            const phone = document.getElementById('phone').value;
	            const zipNo = document.getElementById('zipNo').value;
	            const address1 = document.getElementById('address1').value;
	            const address2 = document.getElementById('address2').value;

	            currentOrder['address'] = address1 + ' ' + address2;
            	currentOrder['request'] = document.getElementById("request").value;

                const currentordergetdata = encodeURIComponent(JSON.stringify(currentOrder));
				console.log(currentordergetdata);
	            // 필수 입력 항목 확인
	            if (!name || !phone || !zipNo || !address1 || !address2) {
	                alert("성함, 연락처, 배송주소를 모두 입력해주세요.");
	                isPaymentInProgress = false; // 초기화
	                return; // 입력이 누락된 경우 결제 요청을 중단
	            }

	            try {
	            	// 결제 요청
	                const paymentResult = await widgets.requestPayment({
	                    orderId: "ORDER_ID_1234", // 고유 주문 번호
	                    orderName: "그래픽 카드 구매", // 주문 이름
	                    successUrl: `http://localhost:8080/api/order?orderData=${currentordergetdata}`, // 결제 성공 시 리다이렉트 URL
	                    failUrl: "http://localhost:8080/payfail", // 결제 실패 시 리다이렉트 URL
	                    customerName: name,
	                    customerMobilePhone: phone,

	                });
	                console.log("결제 결과:", paymentResult);

	                // 결제 승인 처리 (결제 성공 시)
	             /*    if (paymentResult.status === "SUCCESS") {
	                	// currentOrder에 추가
	                    currentOrder['address'] = address1 + ' ' + address2;
	                	currentOrder['request'] = document.getElementById("request").value;
	                    currentOrder['assemblyStatus'] = '조립 미신청';
	                    // JSON으로 변환
	                    const jsonOrder = JSON.stringify(currentOrder);
	                    console.log("json형식:", jsonOrder);
	                	//서버로 전송
	                    fetch('http://localhost:8080/api/order', {
	                        method: 'POST',
	                        headers: {
	                            'Content-Type': 'application/json',
	                        },
	                        body: jsonOrder,
	                    })
	                        .then((response) => {
	                            if (response.status === 401) {
	                                // 로그인이 필요한 경우
	                                return response.json().then(data => {
	                                    alert(data.msg);
	                                    window.location.href = data.url;
	                                });
	                            }
	                            if (!response.ok) {
	                                throw new Error('주문 내역 저장 실패');
	                            }
	                            return response.json();
	                        })
	                        .then((data) => {
	                            alert(data.msg);
	                            window.location.href = "http://localhost:8080/paysuccess";
	                        })
	                        .catch((error) => {
	                            console.error('저장 오류:', error);
	                            alert('주문 내역 저장 중 오류가 발생했습니다.');
	                        });
	                } else {
	                    alert("결제에 실패하였습니다. 다시 시도해주세요.");
	                    window.location.href = "http://localhost:8080/payfail";
	                } */
	            } catch (error) {
	                console.error("결제 처리 중 오류 발생:", error);
	                alert("결제 처리 중 오류가 발생했습니다. 다시 시도해주세요.");
	            } finally {
	                // 결제 진행 상태를 false로 설정하여 결제 완료 후 버튼을 다시 활성화
	                isPaymentInProgress = false;
	            }
	        });
        });

    </script>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/img/logo.png" id="logo" style="cursor: pointer;">
            <p>
                <span th:text="${customer.name} + 님"></span>&nbsp|
                <a href="mypage">
                    <img src="/img/human-icon.png" class="human-icon">
                </a>
                <a href="cartpage">
                    <img src="/img/cart-icon.png" class="cart-icon">
                </a>
                <a href="logout">
                    <img src="/img/lock-icon.png" class="lock-icon">
                </a>
            </p>
        </div>
    </header>
    <main>
        <div id="title">
            <h3>주문/결제</h3>
        </div>
        <div id="title">
            <span>배송정보</span>
        </div>
        <div id="info-form">
            <form action="/mypage" method="post">
                <table>
                    <tr>
                        <td><label>카드소유주명</label></td>
                        <td><input type="text" id="name" name="name"></td>
                    </tr>
                    <tr>
                        <td><label>연락처</label></td>
                        <td><input type="text" id="phone" name="phone" oninput="validatePhoneInput(this)"></td>
                    </tr>
                    <tr>
                        <td><label>배송주소</label></td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" id="zipNo" name="zipNo" placeholder="우편번호" readonly>
                                <button type="button" class="btn-find-address" onClick="goPopup()"><i class="fa fa-search"></i>우편번호 찾기</button>
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="text" class="form-control" id="address1" name="address1" placeholder="도로명주소" readonly/>&nbsp;
                                <input type="text" class="form-control" id="address2" name="address2" placeholder="상세주소"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>요청사항</label></td>
                        <td><input type="text" id="request" name="request"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="title">
            <span>주문 상품 정보</span>
        </div>
        <div id="pay-form">
            <form action="/mypage" method="post">
                <table id="order-table">
                    <thead>
                        <tr>
                            <th>상품 이름</th>
                            <th>상품 가격</th>
                            <th>수량</th>
                            <th>주문 금액</th>
                            <th>배송 금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"><span>5000원</span><br><span>조립미신청</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-container">
                                    <img class="product-image">
                                    <div class="product-details">
                                        <p class="product-type"></p>
                                        <p class="product-name"></p>
                                    </div>
                                </div>
                            </td>
                            <td class="product-price"></td>
                            <td class="quantity">
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
			                    <p class="quantity-input"></p>
			                    <button type="button" class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
			                </td>
                            <td class="order-price"></td>
                            <td class="shipping-fee"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="payment-summary">
                <div class="item">
                    <span class="label">선택상품 총금액</span>
                    <span id="amount" class="total-price"></span>
                </div>
                <img class="plus" src="/img/plus.png" alt="더하기">
                <div class="item">
                    <span class="label">배송금액</span>
                    <span id="amount">5000원</span>
                </div>
                <img class="same" src="/img/same.png" alt="결과">
                <span class="label">최종 결제금액</span>
                <span id="amount" class="pay-price"></span>
            </div>
            <div id="title">
                <div id="payment-method"></div>
                <div id="agreement"></div>
                <button id="payment-button" class="btn-pay">결제하기</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <img src="/img/logo-footer.png" alt="로고">
            <div class="footer-text">
                <p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
                <p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
                <p>문의: 02-1234-5678</p>
                <p>메일: SelfTop@selftop.com</p>
            </div>
        </div>
    </footer>
</body>
</html>