<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SELFTOP</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/customerorderdetail.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const params = new URLSearchParams(window.location.search);
		const message = params.get("message");
		if (message) {
			alert(message);
		}
		//로고 누르면 메인페이지
		document.getElementById('logo').addEventListener('click', function() {
		    window.location.href = '/main';
		});
	});
</script>
</head>
<body>
	<header>
		<div class="header-content">
            <img src="/img/logo.png" id="logo" style="cursor: pointer;">
			<p>
				<span th:text="${membername} + 님"></span>&nbsp| <a href="mypage">
					<img src="/img/human-icon.png" class="human-icon">
				</a> <a href="cartpage"> <img src="/img/cart-icon.png" class="cart-icon">
				</a> <a href="signup"> <img src="/img/lock-icon.png"
					class="lock-icon">
				</a>
			</p>
		</div>
	</header>
	<main>
	 <!-- 취소요청모달 -->
    <div id="cancelmodal" class="cancelmodal">
        <div class="cancelmodal-content">
            <div class="cancelmodal-header">주문 취소</div>
            <div class="cancelmodal-body">
                <table class="table">
                    <tr class="tr-name">
                        <th>이름</th>
                        <td class="username">${이름 or 아이디}</td>
                    </tr>
                    <tr class="tr-cancel-reason">
                        <td colspan='2'>
                            <textarea class = "reason" placeholder="취소 사유를 작성해주세요.(ex. 단순 변심, 옵션 추가 후 재구매 등)" ></textarea>
                        </td>
                    </tr>
                </table>
                <p class="foot-message"> 추후에 판매자로부터 직접 연락을 받으실 수 있습니다.</p>
            </div>
            <div class="cancelmodal-footer">
                <button id="cancelsubmitModalBtn" class="btn btn-submit">등록</button>
                <button id="cancelcloseModalBtn" class="btn btn-close">닫기</button>
            </div>
        </div>
    </div>

    <!-- -------------------취소요청모달 종료------------------------->
		<div id="title">
			<a href="mypage"> <span id="mypage-tab">마이페이지</span>
			</a>| <a href="order"> <span id="order-tab" class="selected">주문
					내역</span>
			</a>
		</div>
		<div class="order_status">
			<div>
				<div class="order_cancel">
					<h2>
						주문 <br> 상세정보
					</h2>
				</div>
				<div class = "cancelsection">
					<button style="cursor:pointer" id="cancelorder" th:data-userid="${customerinfo.name}"
						th:data-ordernum="${ordernum}">취소요청</button>
				</div>
			</div>
			<div class="order_no">
				<h2>주문번호</h2>
				<br>
				<h3 th:text=${ordernum} style="color: #008ADA;"></h3>
			</div>
			<div class="order_date">
				<h2>주문날짜</h2>
				<br>
				<h3 th:text=${orderdate} style="color: #008ADA;"></h3>
			</div>
			<div class="delivery_status">
				<h2>상태</h2>
				<br>
				<h3 id="deliveryinfo" th:text=${orderstatus} style="color: #008ADA;"></h3>
			</div>
		</div>
		<div class="namezone">
		    <h2 th:if="${orderstatus == '배송완료'}">배송이 완료된 건입니다.</h2>
		    <h2 th:if="${orderstatus != '배송완료'}">
		        송장번호 :
		        <span th:if="${deliveryNo != null}" th:text="${deliveryNo}"></span>
		        <span th:if="${deliveryNo == null}">배송 시작 대기중</span>
		    </h2>
		</div>
		<div class="orderprice">
			<div class="product_price">
				<div class="orderprice_title">
					<p>상품금액</p>
				</div>
				<div class="orderprice_data">
					<p th:text="${orderprice} + 원"></p>
				</div>
			</div>
			<div class="delivery_price">
				<div class="orderprice_title">
					<p>배송비</p>
				</div>
				<div class="orderprice_data">
					<p>5,000원</p>
				</div>
			</div>
			<div class="total_price">
				<div class="orderprice_title">
					<p>결제금액</p>
				</div>
				<div class="orderprice_data">
					<p th:text="${allprice} +원"></p>
				</div>
			</div>
		</div>
		<div class="namezone">
			<h2>배송지 정보</h2>
		</div>
		<table class="deliveryinform">
		    <tr>
		        <th class="deliveryinfo_title">성함</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.name}"></h4></td>
		    </tr>
		    <tr>
		        <th class="deliveryinfo_title">연락처</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.phone}"></h4></td>
		    </tr>
		    <tr>
		        <th class="deliveryinfo_title">배송주소</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.address}"></h4></td>
		    </tr>
		    <tr>
		        <th class="deliveryinfo_title">요청사항</th>
		        <td class="deliveryinfo_data"><h4 th:text="${customerinfo.request}"></h4></td>
		    </tr>
		</table>
		<div class="namezone">
			<h2>주문 상품 정보</h2>
		</div>
		<div class="productinform">
			<table class="productorder_table">
				<tr class="productorder_title">
					<th style="width: 10%;">후기작성</th>
					<th style="width: 50%;">상품 이름</th>
					<th style="width: 15%;">금액</th>
					<th style="width: 10%;">수량</th>
					<th style="width: 15%;">배송비</th>
				</tr>
				<tr th:each="dto : ${orderinfo}">
					<th>
				 		<button th:unless="${productcodes.contains(dto.product_code)}"class="openModalBtn btn" th:data-product-code="${dto.product_code}"  data-reviewedit="false">후기작성</button> 					
						<button th:if="${productcodes.contains(dto.product_code)}" class="openModalBtn btn" th:data-product-code="${dto.product_code}" data-reviewedit="true" th:data-reviewlist="${review}">후기수정</button>						
					</th>
					<th th:text="${dto.product_name}"></th>
					<th class = "pricevalue" th:data-price="${dto.price} * ${dto.amount}"></th>
					<th th:text="${dto.amount} +개"></th>
					<th class="same-delivery">5,000원</th>
				</tr>
			</table>
		</div>
		<div class="previous">
			<button onclick="goBack()">이전페이지</button>
		</div>
		<!-- 후기 등록 모달 -->
		<div id="modal" class="modal">
			<div class="modal-content">
				<div class="modal-header">후기 등록</div>
				<div class="modal-body">
					<form method="post" action="reviewreg" enctype="multipart/form-data">
						<div class="form-body">
							<div class="body-top">
								<div class="form-user-name" th:text="${membername}"></div>
								<div class="form-rate" name="reviewForm" method="post" >
									<div class ="star_rating">
										​<span class="star on" value="1"> </span>
										​​<span class="star on" value="2"> </span>
										​​<span class="star on" value="3"> </span>
										​​<span class="star on" value="4"> </span>
										​​<span class="star on" value="5"> </span>
									</div>

									<!--별점 정보 전달-->
									<input type="hidden" name="rating" value="5">
									<input type="hidden" name="product_code" value="">
									<input type="hidden" name="reviewcondition" value="">
								</div>
							</div>

							<div class="form-write-review">

								<textarea name="content" placeholder=" 후기를 작성해주세요 ! " required></textarea>

							</div>

						</div>
						<div class ="form-file-upload">
							<input name="review_img" type="file" id="imageInput" accept="image/jpeg,.txt,png,gif">

							<p class="foot-message"> *10MB 이하 jpg, jpeg, png, gif 파일 1장만 첨부 가능</p>
						</div>
						<div class="modal-footer">

							<input type="submit" value="저장" id="submitModalBtn"
								class="btn btn-submit">

							<button id="closeModalBtn" type="button" class="btn btn-close">닫기</button>

						</div>
					</form>
				</div>
			</div>
		</div>
		<script  type="text/javascript" src="/js/customerorderdetail.js"></script>
	</main>

	<footer>
		<div class="footer-content">
			<img src="/img/logo-footer.png" alt="로고">
			<div class="footer-text">
				<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
				<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
				<p>문의: 02-1234-5678</p>
				<p>메일: SelfTop@selftop.com</p>
			</div>
		</div>
	</footer>

</body>
</html>