<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Customer_cartPage</title>
<link rel="stylesheet" href="/css/customercart.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/customercart.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const params = new URLSearchParams(window.location.search);
		const message = params.get("message");
		if (message) {
			alert(message);
		}
	});

</script>
</head>
<body>
	<header>
		<div class="header-content">
			<img src="/img/logo.png">
			<p>
				<span th:text="${membername} + 님"></span>&nbsp| <a href="mypage">
					<img src="/img/human-icon.png" class="human-icon">
				</a> <a href="cart"> <img src="/img/cart-icon.png" class="cart-icon">
				</a> <a href="logout"> <img src="/img/lock-icon.png"
					class="lock-icon">
				</a>
			</p>
		</div>
	</header>
	<main>
	
	<!-- 모달 -->
	<div id="compare-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">견적 비교</div>
            <p>장바구니에 담은 견적을 동시에 비교해보세요. 🛒</p>
            <h5 >견적은 최소 2개이상, 3개까지 비교할 수 있습니다.</h5>
            <div class="check">
                <input type="checkbox" id="quote1" value="0">
                <label for="quote1">견적 1</label>
            </div>
            <button class="btn" id="compare-button">비교하기</button>
            <hr>
            <div id="table-container"></div>
            <div class="modal-footer">
                <button id="close-modal" class="btn btn-close">닫기</button>
            </div>
        </div>
    </div>
    <!-- 메인 내역 -->
		<h1>내가 담은 견적리스트를 확인해보세요!</h1>
		<hr>
		<div class="cartinfosection">
			<div  id ="quotelist" class="selectcartlist">
				<div class="carttable">
				<table>
					<tr>
						<th>선택</th>
						<th>날짜</th>
						<th>견적이름</th>
						<th>수량</th>
						<th>가격</th>
					</tr>

					<tbody id="cart_view">
						<tr th:each="dto : ${quote}">
							<td ><input type="checkbox" name="selectquote_no" th:value="${dto.quote_no}" /></td>
							<td th:text="${#dates.format(dto.quote_date, 'YY/MM/dd')}"></td>
							<td th:text=${dto.quote_name} th:data-quote-no="${dto.quote_no} "
								th:onclick="'loadquotedetail(' + ${dto.quote_no} +')'"
								class="quotename"></td>
							<td>
								<div class="quantity-control">
									<button type="button" class="quantity-decrease">−</button>
									<input type="number" class="quantity-input"
										th:value="${dto.quote_amount}"
										th:data-price = "${dto.price}" min="0" />
									<button type="button" class="quantity-increase">+</button>
								</div>
							</td>
							<td class ="quoteprice" th:text="${dto.price * dto.quote_amount}   +원 " ></td>
						</tr>
					</tbody>

				</table>
				</div>
				<div class="bottombutton">
					<button  id ="showcomparison" class="cartbutton">견적 비교</button>
					<button  id = "deletebutton" class="cartbutton" >견적 삭제</button>

				</div>
			</div>

			<div id="detailview" class="viewcartproduct">
				<div class="namesection">
					<h2>견적별 부품 현황</h2>
				</div>
				<div th:fragment="#detailvew" th:each="detail : ${quotedetail}"
					class="orderproduct">
					<div class="category">
						<p th:text="${detail.category}"></p>
					</div>
					<div class="thumbnail">
						<img th:if="${detail.thumbnail != '-'}" th:src="${detail.thumbnail}"></img>
						<div th:if="${detail.thumbnail == '-'}" class="no-thumbnail"></div>
					</div>
					<div class="productname">
						<p th:text="${detail.product_name}"></p>
					</div>
					<div class="priceamount">
						<div>
							<p th:if ="${detail.price != 0}" th:text="${detail.price} + 원"></p>
							<div th:if="${detail.amount != 0}" class="quantity-control">
								<button type="button" class="quantity-decrease">−</button>
								<input type="number" class="amount-input"
									th:value="${detail.amount}"
									 min="0" />
								<button type="button" class="quantity-increase">+</button>
							</div>
						</div>
					</div>

				</div>

				<div class="detailbottombutton">
					<button class="detailbutton">결제</button>
					<button class="detailbutton">호환성 체크</button>
					<button id ="changeamount" class="detailbutton">변경적용</button>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="footer-content">
			<img src="/img/logo-footer.png" alt="로고">
			<div class="footer-text">
				<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
				<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
				<p>문의: 02-1234-5678</p>
				<p>메일: SelfTop@selftop.com</p>
			</div>
		</div>
	</footer>

</body>
</html>