<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Customer_order_detail</title>
<link rel="stylesheet" href="/css/customerorderdetail.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const params = new URLSearchParams(window.location.search);
		const message = params.get("message");
		if (message) {
			alert(message);
		}
	});
</script>
<script type="text/javascript" src="/js/customerorderdetail.js"></script>
</head>
<body>
	<header>
		<div class="header-content">
			<img src="/img/logo.png">
			<p>
				<span th:text="${membername} + 님"></span>&nbsp| <a href="mypage">
					<img src="/img/human-icon.png" class="human-icon">
				</a> <a href="cart"> <img src="/img/cart-icon.png" class="cart-icon">
				</a> <a href="signup"> <img src="/img/lock-icon.png"
					class="lock-icon">
				</a>
			</p>
		</div>
	</header>
	<main>
	 <!-- 취소요청모달 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">주문 취소</div>
            <div class="modal-body">
                <table class="table">
                    <tr class="tr-name">
                        <th>이름</th>
                        <td class="username">${이름 or 아이디}</td>
                    </tr>
                    <tr class="tr-cancel-reason">
                        <td colspan='2'>
                            <textarea class = "reason" placeholder="취소 사유를 작성해주세요.(ex. 단순 변심, 옵션 추가 후 재구매 등)"></textarea>
                        </td>
                        
                    </tr>
                    
                </table>
                <p class="foot-message"> 추후에 판매자로부터 직접 연락을 받으실 수 있습니다.</p>
            </div>
            <div class="modal-footer">
                <button id="submitModalBtn" class="btn btn-submit">등록</button>
                <button id="closeModalBtn" class="btn btn-close">닫기</button>
            </div>
        </div>
    </div>
    
    <!-- -------------------취소요청모달 종료------------------------->
		<div id="title">
			<a href="mypage"> <span id="mypage-tab">마이페이지</span>
			</a>| <a href="order"> <span id="order-tab" class="selected">주문
					내역</span>
			</a>
		</div>
		<div class="order_status">
			<div>
				<div>
					<h2>
						주문 <br> 상세정보
					</h2>
				</div>
				<div class = "cancelsection">
					<h2 id="cancelorder" th:data-userid="${customerinfo.name}"
						th:data-ordernum="${ordernum}">취소요청</h2>
				</div>
			</div>
			<div>
				<h2>주문번호</h2>
				<h2 th:text=${ordernum}></h2>
			</div>
			<div>
				<h2>주문날짜</h2>
				<h2 th:text=${orderdate}></h2>
			</div>
			<div>
				<h2>상태</h2>
				<h2 th:text=${orderstatus}></h2>
			</div>
		</div>
		<div class="namezone">
			<h2>송장번호</h2>
		</div>
		<div class="orderprice">
			<div class="productprice">
				<div class="grayzone">
					<p>상품금액</p>
				</div>
				<div >
					<p th:text="${orderprice} + 원"></p>
				</div>
			</div>
			<div class="deliveryprice">
				<div class="grayzone">
					<p>배송비</p>
				</div>
				<div >
					<p>5000원</p>
				</div>
			</div>
			<div class="totalprice">
				<div class="grayzone">
					<p>결제금액</p>
				</div>
				<div>
					<p th:text="${orderprice} +5000 +원"></p>
				</div>
			</div>
		</div>
		<div class="namezone">
			<h2>배송지 정보</h2>
		</div>
		<div class="deliveryinform">
			<div>
				<div class="grayzone">
					<h3>성함</h3>
				</div>
				<div>
					<h4 th:text="${customerinfo.name}"></h4>
				</div>
			</div>
			<div>
				<div class="grayzone">
					<h3>연락처</h3>
				</div>
				<div>
					<h4 th:text="${customerinfo.phone}"></h4>
				</div>
			</div>
			<div>
				<div class="grayzone">
					<h3>배송주소</h3>
				</div>
				<div>
					<h4 th:text="${customerinfo.address}"></h4>
				</div>
			</div>
			<div>
				<div class="grayzone">
					<h3>요청사항</h3>
				</div>
				<div>
					<h4 th:text="${customerinfo.request}"></h4>
				</div>
			</div>
		</div>
		<div class="namezone">
			<h2>주문 상품 정보</h2>
		</div>
		<div class="productinform">
			<table class="productorder_table">
				<tr>
					<th>후기작성</th>
					<th>상품 이름</th>
					<th>금액</th>
					<th>수량</th>
					<th>배송비/판매자</th>
				</tr>
				<tr th:each="dto : ${orderinfo}">
					<th th:text="${dto.customer_no}"></th>
					<th th:text="${dto.product_name}"></th>
					<th th:text="${dto.price} * ${dto.amount} +원"></th>
					<th th:text="${dto.amount}"></th>
					<th th:text="${dto.seller_no} + '배송비:5000원'"></th>
				</tr>

			</table>
		</div>



	</main>

	<footer>
		<div class="footer-content">
			<img src="/img/logo-footer.png" alt="로고">
			<div class="footer-text">
				<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
				<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
				<p>문의: 02-1234-5678</p>
				<p>메일: SelfTop@selftop.com</p>
			</div>
		</div>
	</footer>

</body>
</html>