<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SELFTOP</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/loginform.css">
	<!-- 카카오 스크립트 -->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<header>
    <div class="header-content">
        <img src="/img/logo.png" id="logo" style="cursor: pointer;">
    </div>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			const message = "[[${message}]]"; // Thymeleaf에서 Flash Attribute를 읽음
			console.log(message);
			if (message && message.trim().length > 0) {
				alert(message);
			}
			
			//로고 누르면 메인페이지
			document.getElementById('logo').addEventListener('click', function() {
			    window.location.href = '/main';
			});
		});
	</script>
	<script th:inline="javascript">
		function kakaoLogin() {
			$.ajax({
				url:'/loginform/getKakaoAuthUrl',
				type:'post',
				async: false,
				dataType: 'text',
				success: function (res) {
					location.href = res;
				}
			});
		}
	</script>
</header>
    <main>
    <H1>로그인</H1>
        <form action="loginchk" method="post">
            <div class="loginbox">
            	<div class="inputsection">
            		<label for="id">ID</label>
            		<input name="id" type="text" placeholder="아이디를 입력해주세요" size="50" style="height:30px">
            	</div>
				<div class="inputsection">  
            		<label for="pw">PW</label>
            		<input name="pw" type="password" placeholder="비밀번호를 입력해주세요" size="50" style="height:30px">
            	</div>  
            	<input class="login_btn" type="submit" value="로그인"> 
            	<div class="regist">
            		<a href="/signup"><h3>회원가입</h3></a>
            		<a href="seller/signUp"><h3 class="sellerh3">판매자 회원가입</h3></a>
					<img onclick="kakaoLogin()" class="SNS_btn" src="/img/kakao_login.png">
            	</div>
            </div>
        </form>
    </main>
</body>
</html>