<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
    <link rel="stylesheet" type="text/css" href="/css/loginform.css">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/img/logo.png">
    </div>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			const message = "[[${message}]]"; // Thymeleaf에서 Flash Attribute를 읽음
			console.log(message);
			if (message && message.trim().length > 0) {
				alert(message);
			}
		});
	</script>
</header>
    <main>
    <H1>로그인</H1>
        <form action="loginchk" method="post">
            <div class="loginbox">
            	<div class="inputsection">
            		<label for="id">ID</label>
            		<input name="id" type="text" placeholder="아이디를 입력해주세요" size="50" style="height:30px">
            	</div>
				<div class="inputsection">  
            		<label for="pw">PW</label>
            		<input name="pw" type="password" placeholder="비밀번호를 입력해주세요" size="50" style="height:30px">
            	</div>  
            	<input class="login_btn" type="submit" value="로그인"> 
            	<div class="regist">
            		<h3>ID찾기 </h3>
            		<h3>PW찾기 </h3>
            		<a href="/signup"><h3>회원가입</h3></a>
            		<a href="seller/signUp"><h3 class="sellerh3">판매자 회원가입</h3></a>
            	</div>
            	
            	
            	<a href="/"><img class="SNS_btn" src="/img/kakao_login.png"></a>
            </div>
        </form>
    </main>
</body>
</html>