<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SELFTOP</title>
	<link rel="stylesheet" href="/css/mainPage.css">
    <script type="text/javascript" src="/js/mainPage.js"></script>
</head>
<body>
	 <header>
        <div class="header-content">
            <img src="/img/logo.png">
           	<p>로그인</p>
        </div>
    </header>
    <main>
    <div>
    	<div>
	    	<form id="search">
		    	<div class="search-container">
			        <input type="text" class="search-box" placeholder="원하는 상품명을 검색해주세요">
			        <button class="search-button"></button>
		    	</div>
	    	</form>
	    </div>
	    <br>
	    <div>
	    	<p>${categoty}: n개</p>
	    	
	    </div>
	    <div>
	    	<div class="side-panel">
	    	
            	<div class="panel-header">
            		<div>
	            		<select class="saved-qutoe">
	                		<option value="">선택한 견적 이름</option>
	                		<option value="">${quote_name}</option>
	            		</select>
	            		<div>
	            			<button id="current-cart">현재 견적 카트</button>
            				<input type="text" placeholder="견적 이름을 작성해주세요" />
            			</div>
            		</div>
        		</div>
        		<div class="components">
        			<div>
        				<div class="component" data-component="cpu">CPU</div>
            			<div class="component" data-component="memory">메모리</div>
            			<div class="component" data-component="ssd">SSD</div>
            			<div class="component" data-component="power">파워</div>
            			<div class="component" data-component="cooler">쿨러</div>
        			</div>
        			<div>
        				<div class="component" data-component="mainboard">메인보드</div>
            			<div class="component" data-component="gpu">그래픽카드</div>
            			<div class="component" data-component="hdd">HDD</div>
            			<div class="component" data-component="case">케이스</div>
            			<div>
	            			<label><input type="radio" name="assembly" value="requested" />(*별도 20,000원) 조립신청</label>
            			</div>
            			<div>
            				<label><input type="radio" name="assembly" value="not_requested" checked />조립미신청</label>
            			</div>
        			</div>
        		</div>
        		<div class="total-price">
            		총 견적 금액 : total_price
        		</div>
        		<div class="actions">
            		<button>저장하기</button>
            		<button>견적 저장</button>
        		</div>
        	</div>
        	<button id="toggle-button" class="toggle-button">≡</button>
	    </div>
	    
	    
    </div> 
    </main>
    <footer>
    	<div class="footer-content">
        	<img src="/img/logo-footer.png" alt="로고">
        	<div class="footer-text">
            	<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
            	<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
        	  	<p>문의: 02-1234-5678</p>
           	 	<p>메일: SelfTop@selftop.com</p>
       	 	</div>
   		</div>
	</footer>
</body>
</html>