<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/popup_order_cancel.css" />
    
    <title>팝업_주문 취소</title>
</head>
<body>
    <!-- 임시버튼 -->
    <p id="openModal">취소요청</p>
    

    <!-- 모달 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">주문 취소</div>
            <div class="modal-body">
                <table class="table">
                    <tr class="tr-name">
                        <th>이름</th>
                        <td class="username">${이름 or 아이디}</td>
                    </tr>
                    <tr class="tr-cancel-reason">
                        <td colspan='2'>
                            <textarea placeholder="취소 사유를 작성해주세요.(ex. 단순 변심, 옵션 추가 후 재구매 등)"></textarea>
                        </td>
                        
                    </tr>
                    
                </table>
                <p class="foot-message"> 추후에 판매자로부터 직접 연락을 받으실 수 있습니다.</p>
            </div>
            <div class="modal-footer">
                <button id="submitModalBtn" class="btn btn-submit">등록</button>
                <button id="closeModalBtn" class="btn btn-close">닫기</button>
            </div>
        </div>
    </div>

    <script src="../static/js/popup_order_cancel.js"></script>
    
</body>
</html>
