<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Seller_MyPage</title>
<link rel="stylesheet" href="/css/sellerMyPage.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img class="logo" src="/img/logo.png" onclick="location.href='main'">
           	<p>
           		<span th:text="${sellerInfo.name}+님"></span>&nbsp|
           		<a href="myPage">
           			<img src="/img/human-icon.png" class="human-icon">
           		</a>
           		<a href="/logout">
           			<img src="/img/lock-icon.png" class="lock-icon">
           		</a>
           	</p>
        </div>
    </header>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const message = "[[${message}]]"; // Thymeleaf에서 Flash Attribute를 읽음
            console.log(message);
            if (message && message.trim().length > 0) {
                alert(message);
            }
        });
    </script>
    <main>
        <div class="page-info">
            <p>마이페이지</p>
        </div>
        <div class="seller-info">
            <table>
                <tr>
                    <td class="title">아이디</td>
                    <td class="seller-id" th:text="${sellerInfo.id}"></td>
                </tr>
                <tr>
                    <td class="title">대표자명</td>
                    <td class="seller-name" th:text="${sellerInfo.ceo_name}"></td>
                    
                </tr>
                <tr>
                    <td class="title">업체명</td>
                    <td class="company-name" th:text="${sellerInfo.company_name}"></td>
                </tr>
                <tr>
                    <td class="title">연락처</td>
                    <td class="contact" th:text="${sellerInfo.phone}"></td>
                </tr>
                <tr>
                    <td class="title">사업자등록번호</td>
                    <td class="bussiness-num" th:text="${sellerInfo.business_license}"></td>
                </tr>
            </table>
        </div>

        <div class="button-area">
            <button onclick="location.href='infoChange'" class="btn-modify">정보수정</button>
        </div>
    </main>

    <footer>
    	<div class="footer-content">
        	<img src="/img/logo-footer.png" alt="로고">
        	<div class="footer-text">
            	<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
            	<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
        	  	<p>문의: 02-1234-5678</p>
           	 	<p>메일: SelfTop@selftop.com</p>
       	 	</div>
   		</div>
	</footer>

</body>
</html>