<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Seller_MyPage</title>
<link rel="stylesheet" href="/css/sellerMyPage.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img class="logo" src="/img/logo.png">
           	<p id="userName" th:text="${sellerInfo.name}"></p> 
            <div class="icon-section">
                <a href="/seller/sellerMyPage" target="_self" ><img class="mypage-icon" src="/img/human-icon.png"></a>
                <a href="/login/logout"><img class="login-icon" src="/img/lock-icon.png"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="page-info">
            <p>마이페이지</p>
        </div>
        <div class="seller-info">
            <table>
                <tr>
                    <td class="title">아이디</td>
                    <td class="seller-id" th:text="${sellerInfo.id}"></td>
                </tr>
                <tr>
                    <td class="title">대표자명</td>
                    <td class="seller-name" th:text="${sellerInfo.ceo_name}"></td>
                    
                </tr>
                <tr>
                    <td class="title">업체명</td>
                    <td class="company-name" th:text="${sellerInfo.company_name}"></td>
                </tr>
                <tr>
                    <td class="title">연락처</td>
                    <td class="contact" th:text="${sellerInfo.phone}"></td>
                </tr>
                <tr>
                    <td class="title">사업자등록번호</td>
                    <td class="bussiness-num" th:text="${sellerInfo.business_license}"></td>
                </tr>
            </table>
        </div>

        <div class="button-area">
            <a href="#" target="_blank"><input type="button" class="btn-modify" value="정보수정"></a>
        </div>
    </main>

    <footer>
    	<div class="footer-content">
        	<img src="/img/logo-footer.png" alt="로고">
        	<div class="footer-text">
            	<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
            	<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
        	  	<p>문의: 02-1234-5678</p>
           	 	<p>메일: SelfTop@selftop.com</p>
       	 	</div>
   		</div>
	</footer>

</body>
</html>