<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller_InfoChange</title>
    <link rel="stylesheet" href="/css/sellerInfoChange.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/sellerInfoChange.js"></script>
	<script type="text/javascript">
		function delchk() {
			const chk = confirm("정말 탈퇴하시겠습니까?");
			console.log(chk);
			if(chk === true) {
				alert(chk);
				location.href='/delUser'
			} else {
				location.href='infoChange'
			}
			return false;
		}
	</script>
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/img/logo.png">
           	<p>
           		<span th:text="${sellerInfo.name}+님"></span>&nbsp|
           		<a href="myPage">
           			<img src="/img/human-icon.png" class="human-icon">
           		</a>
           		<a href="signUp">
           			<img src="/img/lock-icon.png" class="lock-icon">
           		</a>
           	</p>
        </div>
    </header>
	<main>
		<div id="title"><h3>마이 페이지</h3></div>
    	<div id="infochange-form">
        	<form action="/seller/changeaccount" method="post">
        		<h2>계정 정보 변경</h2>
        		<div class="form-group">
        			<label>대표자명</label>
                	<div class="input-group">
       					<p id="ceo_name" th:text="${sellerInfo.ceo_name}"></p>
    				</div>
            	</div>
            	<div class="form-group">
        			<label>업체명</label>
                	<div class="input-group">
       					<p id="company_name" th:text="${sellerInfo.company_name}"></p>
    				</div>
       	    	</div>
      	      	<div class="form-group">
                	<label>연락처<span>*</span></label>
                	<div class="input-group">
                		<input type="text" id="phone" name="phone" placeholder="02-1234-1234">
                	</div>
	            </div>
	            <div class="form-group">
	        		<label>주소<span>*</span></label>
	        		<div class="input-group">
	        			<input type="text" class="form-control" id="zipNo" name="zipNo" placeholder="우편번호" readonly>
	       				<button type="button" class="btn-find-address" onClick="goPopup()"><i class="fa fa-search"></i>주소 검색</button>
	       			</div>
	       			<br>
		            <div class="input-group">
		            	<input type="text" class="form-control" id="address1" name="address1" placeholder="도로명주소" readonly/>&nbsp;
		            	<input type="text" class="form-control" id="address2" name="address2" placeholder="상세주소"/>
		            </div>
	            </div>
	            <div class="form-group">
	    			<button type="submit" class="btn-change-account">변경하기</button>
				</div>
			</form>
			<form action="/changepw" method="post">
				<h2>비밀번호 변경</h2>
	            <div class="form-group">
	    			<label>기존 비밀번호<span>*</span></label>
	    			<div class="input-container">
	        			<input type="password" id="cur_pw" name="cur_pw" oninput="checkCurrentPassword()">
	    			</div>
	    			<span id="cur_pw-error" class="error-message"></span>
				</div>
				<div class="form-group">
	    			<label>새 비밀번호<span>*</span></label>
	    			<div class="input-container">
	        			<input type="password" id="new_pw" name="new_pw" oninput="validatePassword()">
	    			</div>
	    			<span id="new_pw-error" class="error-message"></span>
				</div>
	            <div class="form-group">
	                <label>새 비밀번호 확인<span>*</span></label>
	                <div class="input-container">
	                	<input type="password" id="confirmPassword" name="confirmPassword" oninput="validateConfirmPassword()">
	                </div>
	                <span id="confirm-error" class="error-message"></span>
	            </div>
	            <div class="form-group">
	    			<button type="submit" class="btn-change-pw">변경하기</button>
				</div>
			</form>
			<form action="/delUser" method="post">
				<h2>회원탈퇴</h2>
				<div class="form-group">
					<label>이메일<span>*</span></label>
					<div class="email-container">
						<input type="text" id="email" name="email" placeholder="이메일을 입력해주세요!">
					</div>
				</div>
				<div class="form-group">
					<label>비밀번호<span>*</span></label>
					<div class="input-container">
						<input type="password" id="pw" name="pw" placeholder="기존 비밀번호를 입력해주세요!" oninput="checkCurrentPassword()">
					</div>
					<span id="pw-error" class="error-message"></span>
				</div>
				<div class="form-group">
					<button onclick="delchk()" class="btn-delete">탈퇴하기</button>
				</div>
			</form>
        </div>
    </main>

    <footer>
    	<div class="footer-content">
        	<img src="/img/logo-footer.png" alt="로고">
        	<div class="footer-text">
            	<p>&copy; 2024 Copyright: SelfTop All rights reserved.</p>
            	<p>팀원: 김지성, 오원석, 권장현, 양다연, 임성규</p>
        	  	<p>문의: 02-1234-5678</p>
           	 	<p>메일: SelfTop@selftop.com</p>
       	 	</div>
   		</div>
	</footer>
</body>
</html>
