<th:block th:fragment="changetable">
        <div id="choosecontent">
            <button class="menuselect" onclick=moveorder()>판매내역 조회</button>
            <button id="stockmenu" onclick=movestock()>제품재고 관리</button>
        </div>
        <div class="search">
        <div class =" datesearch">
            <button id="openModalBtn" class="btn">제품 등록하기</button>
        </div>
        <!-- 모달 -->
	    <div id="modal" class="modal">
	        <div class="modal-content">
	            <div class="modal-header">수량 및 가격 수정</div>
	            <div class="modal-body">
	                <table class="modal_table">
	                    <tr>
	                        <!--db에서 가져와 select 생성할 예정-->
	                        <th>카테고리</th>
	                        <td>
	                            <select onchange="modelChange(this)"  name="category" id="category" size="1" required autofocus>
	                                <option value="none">선택</option>
	                                <option value="cpu">CPU</option>
	                                <option value="ram">RAM</option>
	                                <option value="mainboard">메인보드</option>
	                                <option value="case">케이스</option>
	                                <option value="gpu">GPU</option>
	                                <option value="power">파워</option>
	                                <option value="ssd">SSD</option>
	                                <option value="hdd">HDD</option>
	                                <option value="cooler">쿨러</option>
	
	                            </select>
	                        </td>
	                    </tr>
	                    <!--db에서 가져와 select 생성할 예정-->
	                    <tr>
	                        <th>모델명</th>
	                        <td>
	                            <select name="model-name" id="model-name" aria-readonly="true">
	                                <option>카테고리를 선택해주세요.</option>
	                            </select>
	                            
	                        </td>
	                        
	                    </tr>
	                    <!--db에서 가져와 정보 표시 예정-->
	                    <tr>
	                        <th>제품 설명</th>
	                        <td>
	                            <div class="detail">
	                                제품에 대한 설명입니다.
	                            </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        
	                        <th>입고 수량</th>
	                        <td>
	                            <h5>입고 하실 수량을 입력해주세요.</h5>
	                            <h5 class="text-quantity"><input class="modal_input" type="number" id="quantity" name="quantity" min="1" required>  개</h5>
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <th>판매 가격</th>
	                        <td>
	                            <h5>판매하실 가격을 입력해주세요.</h5>
	                            <h5 class="text-price"><input class="modal_input" type="number"  id="price" name="price" min="1" required>  원</h5>
	                        </td>
	                    </tr>
	                    
	                </table>
	            </div>
	            <div class="modal-footer">
	                <button id="registerModalBtn" class="btn btn-register">등록</button>
	                <button id="closeModalBtn" class="btn btn-close">닫기</button>
	            </div>
	        </div>
    	</div>
         <script>
      // 모달 제어 스크립트
	   	 const modal = document.getElementById('modal');
	   	 const openModalBtn = document.getElementById('openModalBtn');
	   	 const closeModalBtn = document.getElementById('closeModalBtn');
	   	 
	   	 openModalBtn.addEventListener('click', () => {
	   	     modal.style.display = 'block';
	   	 });
	   	 
	   	 closeModalBtn.addEventListener('click', () => {
	   	     modal.style.display = 'none';
	   	 });
	   	 
	   	 // 모달 외부 클릭 시 닫기
	   	 window.addEventListener('click', (event) => {
	   	     if (event.target === modal) {
	   	         modal.style.display = 'none';
	   	     }
	   	 });
	   	 
	   	 
	   	 // 카테고리 선택 별 제품명 선택
	   	const categorySelect = document.getElementById('category');
	    const modelNameInput = document.getElementById('model-name-input');

	    categorySelect.addEventListener('change', function() {
	        fetch('/seller/' + this.value + 'Products')
	            .then(response => response.json())
	            .then(data => {
	                data.sort((a, b) => a.product_name.localeCompare(b.product_name));  // 이름 기준으로 정렬
	                updateModelNames(data);
	            })
	            .catch(error => console.error('Error fetching ' + this.value + ' products:', error));
	    });

	    function updateModelNames(products) {
	        const modelNameDatalist = document.getElementById('model-names');
	        modelNameDatalist.innerHTML = '';  // 초기화
	        if (products.length === 0) {
	            modelNameDatalist.innerHTML = '<option>해당 카테고리의 제품이 없습니다.</option>';
	        } else {
	            products.forEach(product => {
	                const option = document.createElement('option');
	                option.value = product.product_name;  // 사용자에게 보여지는 이름
	                option.setAttribute('data-product-code', product.product_code);  // 실제 제품 코드는 데이터 속성에 저장
	                option.setAttribute('data-etc', product.etc);  // ETC 정보도 저장
	                modelNameDatalist.appendChild(option);
	            });
	        }
	    }

	 	// 제품 모델명 선택시 설명 노출
	    modelNameInput.addEventListener('input', function() {
	        const selectedOption = Array.from(document.getElementById('model-names').options).find(option => option.value === this.value);
	        const etcInfo = selectedOption ? selectedOption.getAttribute('data-etc') : '상세 정보가 없습니다.';
	        document.querySelector('.detail').innerHTML = `<p>${etcInfo}</p>`;  // ETC 정보 출력
	    });

	    //제품 모델명 선택시 설명 노출
		document.getElementById('model-name-input').addEventListener('input', function() {
		    const inputVal = this.value;
		    const options = document.querySelectorAll('#model-names option');
		    const selectedOption = Array.from(options).find(option => option.value === inputVal);
		    const productCode = selectedOption ? selectedOption.getAttribute('data-product-code') : null;
		    const etcInfo = selectedOption ? selectedOption.getAttribute('data-etc') : '상세 정보가 없습니다.';

		    if (productCode) {
		        document.getElementById('hidden-product-code').value = productCode;  // 제품 코드를 숨겨진 필드에 설정
		        document.querySelector('.detail').innerHTML = `<p>${etcInfo}</p>`;  // ETC 정보 출력
		    }
		});
		
		//등록 버튼을 누르면 PRODUCT_STATUS 테이블에 PRODUCT_CODE, SELLER_NO, STOCK, PRICE, REG_DATE를 등록
		 document.getElementById('registerModalBtn').addEventListener('click', function() {
	        const selectedOption = Array.from(document.getElementById('model-names').options).find(option => option.value === modelNameInput.value);
	        const productCode = selectedOption ? selectedOption.getAttribute('data-product-code') : null;

	        if (!productCode) {
	            alert('제품 모델을 선택해주세요.');
	            return;
	        }
	        const quantity = document.getElementById('quantity').value;
	        if (quantity <= 0) {
	            alert('유효한 수량을 입력해주세요.');
	            return;
	        }
	        const price = document.getElementById('price').value;
	        if (price <= 0) {
	            alert('유효한 가격을 입력해주세요.');
	            return;
	        }

	        const data = {
	            product_code: productCode,
	            stock: quantity,
	            price: price,
	            reg_date: new Date().toISOString()
	        };

	        fetch('/seller/registerProductStatus', {
	            method: 'POST',
	            headers: {
	                'Content-Type': 'application/json',
	            },
	            body: JSON.stringify(data)
	        })
	        .then(response => {
	            if (response.ok) {
	                return response.json();
	            } else {
	                return response.text().then(text => { throw new Error(text || '제품 등록에 실패했습니다.'); });
	            }
	        })
	        .then(result => {
	            alert('제품 등록이 성공적으로 완료되었습니다.');
	            modal.style.display = 'none'; // 성공 시 모달 창 닫기
	            location.reload(); // 페이지 새로고침
	        })
	        .catch(error => {
	            console.error('Error:', error);
	            alert(error.message);
	        });
	    });
        </script>  
        <div class="searchbox">
            <input type="text" placeholder="검색할 제품 입력" id="keyword">
            <button class="searchbutton" onclick=Search()>검색</button>
            <button class="searchbutton" onclick=Reset()>초가화</button>
        </div>

        </div>
        <div>
        <form id="stockupdate" method="post">        
        	<table class ="product_table" >	
		        <tr>
			            <th>선택</th>
			            <th>분류</th>
			            <th>상품이미지</th>
			            <th>제품명</th>
			            <th>변경 후 가격</th>
			            <th>재고 수량</th>
		        </tr>
		        <tbody id="product_view">
		            <tr th:each="dto : ${stocktable}" >
		                <td><input type="checkbox" class="stockitemcheck" th:value=${dto.product_code}></td>
		                <td th:text="${dto.category}"></td>
		                <td><img th:src="${dto.thumbnail}" width="50" height="50" /></td>
		                <td th:text="${dto.product_name}"></td>
		                <td><input type="text" class="stockprice" th:value=${dto.price}  th:attr="data-id=${dto.product_code}">원</td>
		                <td><input type="text" class="stockamount" th:value=${dto.stock} th:attr="data-id=${dto.product_code}">개</td>
		            </tr>
		        </tbody>
		    </table>
		    <div id="stocksavebutton">
       			 <button type="button" onclick="savestockchange()" class="stocksave">저장하기</button>
   			 </div>
		</form>
		</div>
</th:block>