<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시페이지</title>
    <script>
            function showPopup(){
                window.open("popup_product_info.html","제품상세이미지팝업","width=1000, height=1500, left=100, top=50 ,scrollbars=1")
            }

    </script>
</head>
<body>

    <p>제품 상세페이지 팝업창을 위한 임시페이지입니다.</p>
    
    <input type="button" value="제품상세페이지 팝업 열기" onclick="showPopup();"/>
    
</body>
</html>